<html>
<head>
<meta charset="UTF-8">
<title>企业信息管理</title>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/iview@2.0.0-rc.5/dist/styles/iview.css">
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/iview@2.0.0-rc.5/dist/iview.min.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
    }
    .layout-header{
        height: 50px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
    }
    #form{
			margin-top:100px;
			margin-left:40%;
			text-align: center;

		}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
        <Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="1-2" theme="dark" width="auto" :open-names="['1']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">导航一</span>
                        </template>
                        <Menu-item name="1-1">选项 1</Menu-item>
                        <Menu-item name="1-2">选项 2</Menu-item>
                        <Menu-item name="1-3">选项 3</Menu-item>
                    </Submenu>
                    <Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-keypad" :size="iconSize"></Icon>
                            <span class="layout-text">导航二</span>
                        </template>
                        <Menu-item name="2-1">选项 1</Menu-item>
                        <Menu-item name="2-2">选项 2</Menu-item>
                    </Submenu>
                    <Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-analytics" :size="iconSize"></Icon>
                            <span class="layout-text">导航三</span>
                        </template>
                        <Menu-item name="3-1">选项 1</Menu-item>
                        <Menu-item name="3-2">选项 2</Menu-item>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-header">
                    <i-button type="text" @click="toggleClick">
                        <Icon type="navicon" size="32"></Icon>
                    </i-button>
					<span class="system-title">山东省人力资源市场数据采集系统</span>
                </div>
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="#">首页</Breadcrumb-item>
                        <Breadcrumb-item href="#">应用中心</Breadcrumb-item>
                        <Breadcrumb-item>某应用</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
                            <i-form id="form" ref="formInline" :model="formInline" :rules="ruleInline" style="width: 300px" >
                                <h1>企业信息管理</h1>
                                </br>
                                    <Form-Item prop="region">
                                        <i-input type="region" v-model="formInline.region" placeholder="所属地区" clearable disabled style="width: 300px">
                                            <icon type="earth" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
                                    <Form-Item prop="organizationcode">
                                        <i-input type="organizationcode" v-model="formInline.organizationcode" placeholder="组织机构代码" clearable style="width: 300px">
                                            <icon type="ios-briefcase" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="enterprisename">
                                        <i-input type="enterprisename" v-model="formInline.enterprisename" placeholder="企业名称" clearable style="width: 300px">
                                            <icon type="ios-home-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="enterprisetype">
										<Cascader :data="formInline.enterprisetype" v-model="formInline.value1" placeholder="企业性质" clearable style="width: 300px">
										</Cascader>
                                    </Form-Item>
									<Form-Item prop="industry">
                                        <Cascader :data="formInline.industry" v-model="formInline.value1" placeholder="所属行业" clearable style="width: 300px">
										</Cascader>
                                    </Form-Item>
									<Form-Item prop="mainbusiness">
                                        <i-input type="mainbusiness" v-model="formInline.mainbusiness" placeholder="主要经营业务" clearable style="width: 300px">
                                            <icon type="ios-briefcase-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="contacts">
                                        <i-input type="contacts" v-model="formInline.contacts" placeholder="联系人" clearable style="width: 300px">
                                            <icon type="ios-person-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
                                    <Form-Item prop="contactaddress">
										<Cascader :data="formInline.contactaddress" v-model="formInline.value1" placeholder="联系地址" clearable style="width: 300px">
										</Cascader>
                                    </Form-Item>
									<Form-Item prop="postcode">
                                        <i-input type="postcode" v-model="formInline.postcode" placeholder="邮政编码" clearable style="width: 300px">
                                            <icon type="android-mail" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="telephone">
                                        <i-input type="telephone" v-model="formInline.telephone" placeholder="联系电话" clearable style="width: 300px">
                                            <icon type="ios-telephone-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="fax">
                                        <i-input type="fax" v-model="formInline.fax" placeholder="传真" clearable style="width: 300px">
                                            <icon type="ios-printer-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
									<Form-Item prop="email">
                                        <i-input type="email" v-model="formInline.email" placeholder="EMAIL" clearable style="width: 300px">
                                            <icon type="ios-email-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
																		
                                    <Form-Item>
                                        <i-button type="primary" @click="handleSubmit('formInline')">修改提交</i-button>
                                    </Form-Item>
                                </i-form>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
  </div>

<script>
	new Vue({
        el: '#app',
        
        data () {
                return {
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    formInline: {
						value1:[],
                        region: '',
                        organizationcode: '',
						enterprisename: '',
						enterprisetype: [{
							value: 'a1',
							label: 'a1',
							children: [
								{
									value: 'type1',
									label: 'type1'
								},
								{
									value: 'type2',
									label: 'type2'
								},
								{
									value: 'type3',
									label: 'type3'
								}
							]
						}, {
							value: 'a2',
							label: 'a2',
							children: [
								{
									value: 'type4',
									label: 'type4'
								},
								{
									value: 'type5',
									label: 'type5'
								}
							],
						}],
						industry: [{
							value: 'a1',
							label: 'a1',
							children: [
								{
									value: 'type1',
									label: 'type1'
								},
								{
									value: 'type2',
									label: 'type2'
								},
								{
									value: 'type3',
									label: 'type3'
								}
							]
						}, {
							value: 'a2',
							label: 'a2',
							children: [
								{
									value: 'type4',
									label: 'type4'
								},
								{
									value: 'type5',
									label: 'type5'
								}
							],
						}],
                        mainbusiness: '',
						contacts: '',
						contactaddress: [{
							value: 'city1',
							label: 'city1',
							children: [
								{
									value: 'address1',
									label: 'address1'
								},
								{
									value: 'address2',
									label: 'address2'
								},
								{
									value: 'address3',
									label: 'address3'
								}
							]
						}, {
							value: 'city2',
							label: 'city2',
							children: [
								{
									value: 'address4',
									label: 'address4'
								},
								{
									value: 'address5',
									label: 'address5'
								}
							],
						}],
						postcode: '',
                        telephone: '',
						fax: '',
						email: ''
                    },
                    ruleInline: {
                        region: [
                            { required: true, message: 'Please fill in the region.', trigger: 'blur' }
                        ],
                        organizationcode: [
                            { required: true, message: 'Please fill in the organization code.', trigger: 'blur' },
                            { type: 'string', max: 9, message: 'The organization code length cannot be more than 9 bits.', trigger: 'blur' }
                        ],
						enterprisename: [
                            { required: true, message: 'Please fill in the enterprise name.', trigger: 'blur' }                            
                        ],
						enterprisetype: [
                            { required: true, message: 'Please fill in the enterprise type.', trigger: 'blur' }
                        ],
						industry: [
                            { required: true, message: 'Please fill in the industry.', trigger: 'blur' }
                        ],
						mainbusiness: [
                            { required: true, message: 'Please fill in the main business.', trigger: 'blur' }
                        ],
						contacts: [
                            { required: true, message: 'Please fill in the contacts.', trigger: 'blur' }
                        ],
                        contactaddress: [
                            { required: true, message: 'Please fill in the contact address.', trigger: 'blur' }
                        ],
						postcode: [
                            { required: true, message: 'Please fill in the postcode.', trigger: 'blur' },
                            { type: 'string', max: 6, min: 6, message: 'The postcode length must be 6 bits.', trigger: 'blur' }                            
                        ],
						telephone: [
                            { required: true, message: 'Please fill in the telephone.', trigger: 'blur' }
                        ],
						fax: [
                            { required: true, message: 'Please fill in the fax.', trigger: 'blur' }
                        ],
						email: [
                            { required: true, message: 'Please fill in the email.', trigger: 'blur' }
                        ]
                    }
                }
            },
            
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            handleSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            }
        }
    })
</script>
</body>
</html>