<html>
<head>
    <meta charset="UTF-8">
    <title>企业查询</title>
    <!-- import Vue.js -->
    <script src="./vue.js"></script>
    <script src="./vue-resource.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="./iview.min.js"></script>
    <!--import path-->
    <script src=".\path.js"></script>

    <style>
        .layout {
            *border: 1px solid #d7dde4;
            background: #f5f7f9;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
        }

        .layout-logo {
            width: 180px;
            height: 30px;
            background: #5b6270;
            border-radius: 3px;
            float: left;
            position: relative;
            top: 15px;
            left: 20px;
        }

        .layout-exit {
            width: 100px;
            height: 30px;
            background: #5b6270;
            float: right;
            position: relative;
            top: 15px;
            right: 20px;
            text-align: right;
        }

        .layout-breadcrumb {
            padding: 10px 15px 0;
        }

        .layout-content {
            min-height: 200px;
            margin: 15px;
            overflow: hidden;
            background: #fff;
            border-radius: 4px;
        }

        .layout-content-main {
            padding: 10px;
        }

        .layout-copy {
            text-align: center;
            padding: 10px 0 20px;
            color: #9ea7b4;
        }

        .layout-menu-left {
            background: #464c5b;
            width: 17%;
        }

        .layout-header {
            height: 60px;
            background: #313540;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        }

        .layout-ceiling-main a {
            color: #9ba7b5;
        }

        .layout-hide-text .layout-text {
            display: none;
        }

        .ivu-col {
            transition: width .2s ease-in-out;
        }

        .system-title {
            letter-spacing: 10px;
            font-size: 28px;
            font-family: "LiSu", 隶书;
            line-height: 50px;
            padding-left: 230px;
            color: #fff;
        }

        #form {
            margin-top: 100px;
            margin-left: 40%;
            text-align: center;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
        <div class="layout-exit">
            <i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
        </div>
        <div class="layout-header">
            <div class="layout-logo">
                <a href="adminuser.html">
                    <img src="../images/logo.jpg" style="width:190px;height:35px;"/>
                </a>
            </div>
            <h1 class="system-title">山东省人力资源市场数据采集系统</h1>
        </div>

        <Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="1-1" theme="dark" width="auto" :open-names="['1']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">企业管理</span>
                        </template>
                        <a href="adminenterpriseselect.html">
                            <Menu-item name="1-1">企业查询</Menu-item>
                        </a>
                        <a href="sampleanalysis.html">
                            <Menu-item name="1-2">取样分析</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">数据管理</span>
                        </template>
                        <a href="datamanagement.html">
                            <Menu-item name="2-1">数据处理</Menu-item>
                        </a>
                        <a href="dataaudit.html">
                            <Menu-item name="2-2">数据审核</Menu-item>
                        </a>
                        <a href="datasummary.html">
                            <Menu-item name="2-3">数据汇总</Menu-item>
                        </a>
                        <a href="graph.html">
                            <Menu-item name="2-4">图表分析</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">通知中心</span>
                        </template>
                        <a href="notice.html">
                            <Menu-item name="3-1">发布通知</Menu-item>
                        </a>
                        <a href="noticeviewing.html">
                            <Menu-item name="3-2">浏览通知</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="4">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">系统管理</span>
                        </template>
                        <a href="reportingdeadline.html">
                            <Menu-item name="4-1">上报时限</Menu-item>
                        </a>
                        <a href="createnewuser.html">
                            <Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
                        </a>
                        <a href="usermanagement.html">
                            <Menu-item name="4-3" v-if=' flag==2 '>用户管理</Menu-item>
                        </a>
                        <a href="charactermanagement.html">
                            <Menu-item name="4-4" v-if=' flag==2 '>角色管理</Menu-item>
                        </a>
                        <a href="systemmonitoring.html">
                            <Menu-item name="4-5">系统监控</Menu-item>
                        </a>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==1 '>
                            <script>document.write(sessionStorage.area);</script>
                            市管理员用户
                        </Breadcrumb-item>
                        <Breadcrumb-item>企业管理</Breadcrumb-item>
                        <Breadcrumb-item>企业查询</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
                        <i-form :model="formInline" inline>
                            <Form-Item>
                                <i-select v-model="formInline.area" placeholder="所属地区" style="width:250px">
                                    <i-option value="0531">济南</i-option>
                                    <i-option value="0532">青岛</i-option>
                                    <i-option value="0533">淄博</i-option>
                                    <i-option value="0534">德州</i-option>
                                    <i-option value="0535">烟台</i-option>
                                    <i-option value="0536">潍坊</i-option>
                                    <i-option value="0537">济宁</i-option>
                                    <i-option value="0538">泰安</i-option>
                                    <i-option value="0539">临沂</i-option>
                                    <i-option value="0530">菏泽</i-option>
                                    <i-option value="0543">滨州</i-option>
                                    <i-option value="0546">东营</i-option>
                                    <i-option value="0631">威海</i-option>
                                    <i-option value="0632">枣庄</i-option>
                                    <i-option value="0633">日照</i-option>
                                    <i-option value="0634">莱芜</i-option>
                                    <i-option value="0635">聊城</i-option>
                                </i-select>
                            </Form-Item>
                            <Form-Item>
                                <i-button type="primary" @click="postData()">查询</i-button>
                            </Form-Item>
                        </i-form>
                        <i-table border :columns="columns" :data="data1" height="700px" ref="table"></i-table>
                        <i-button type="primary" size="large" @click="exportData()">
                            <icon type="ios-download-outline"></icon>
                            导出表格
                        </i-button>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
    <Back-Top></Back-Top>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                flag: sessionStorage.is_admin,
                spanLeft: 5,
                spanRight: 19,
                theme1: 'dark',

                columns: [
                    {
                        title: '所属地区',
                        key: 'area'
                    },
                    {
                        title: '组织机构代码',
                        key: 'code'
                    },
                    {
                        title: '企业名称',
                        key: 'name'
                    },
                    /*	{
                            title: '企业规模',
                            key: 'enterprise_scale'
                        },
                        {
                            title: '企业经济类型',
                            key: 'enterprise_kind'
                        },
                        {
                            title: '所属行业',
                            key: 'belong_to'
                        },
                        {
                            title: '主要经营业务',
                            key: 'main_business'
                        },
                        {
                            title: '联系人',
                            key: 'contacts'
                        },
                        {
                            title: '联系地址',
                            key: 'address'
                        },
                        {
                            title: '邮政编码',
                            key: 'postal_code'
                        },
                        {
                            title: '联系电话',
                            key: 'phone'
                        },
                        {
                            title: '传真',
                            key: 'fax'
                        },
                        {
                            title: 'EMAIL',
                            key: 'email'
                        },
                    */
                    {
                        title: '操作',
                        key: 'action',
                        width: 140,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show(params.index);
                                        }
                                    }
                                }, '详情')
                            ]);
                        }
                    }
                ],
                data1: [],
                temp: [],
                formInline: {
                    area: ''
                }
            };
        },
        computed: {
            iconSize: function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function () {
                var innerHeight = window.innerHeight;
                var contentHeight = innerHeight - 50 - 110;
                return 'min-height: ' + contentHeight + 'px';
            }
        },
        methods: {
            formatDate: function (date) {
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let monthZero = month < 10 ? '0' : '';
                let day = date.getDate();
                let dayZero = day < 10 ? '0' : '';
                let hour = date.getHours();
                let hourZero = hour < 10 ? '0' : '';
                let minute = date.getMinutes();
                let minuteZero = minute < 10 ? '0' : '';
                let second = date.getSeconds();
                let secondZero = second < 10 ? '0' : '';
                return year + '-' + monthZero + month + '-' + dayZero + day + 'T' + hourZero + hour + ':' + minuteZero + minute + ':' + secondZero + second + '+00:00';
            },
            toggleClick: function () {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            postData: function () {
                this.$refs['formInline'].validate((valid) => {
                    if (valid) {
                        var path = base_path + 'admin/info/';
                        var name = {
                            area: this.formInline.area
                        };
                        console.log('name=' + name);
                        this.$http.post(path, name).then(response => {
                            this.getdata = response.body;
                            console.log(this.getdata);
                            var area = [['0531', '济南'], ['0532', '青岛'], ['0533', '淄博'], ['0534', '德州'], ['0535', '烟台'], ['0536', '潍坊'], ['0537', '济宁'],
                                ['0538', '泰安'], ['0539', '临沂'], ['0530', '菏泽'], ['0543', '滨州'], ['0546', '东营'], ['0631', '威海'], ['0632', '枣庄'], ['0633', '日照'], ['0634', '莱芜'], ['0635', '聊城']];

                            var belong = [
                                ['a1', '农、林、牧、渔业'], ['a2', '采矿业'], ['a3', '制造业'], ['a4', '电力、热力、燃气及水生产和供应业'], ['a5', '建筑业'],
                                ['a6', '批发和零售业'], ['a7', '交通运输、仓储和邮政业'], ['a8', '住宿和餐饮业'], ['a9', '信息传输、软件和信息技术服务业'], ['a10', '金融业'],
                                ['a11', '房地产业'], ['a12', '租赁和商务服务业'], ['a13', '科学研究和技术服务业'], ['a14', '水利、环境和公共设施管理业'], ['a15', '居民服务、修理和其他服务业'],
                                ['a16', '教育'], ['a17', '卫生和社会工作'], ['a18', '文化、体育和娱乐业'], ['a19', '公共管理、社会保障和社会组织'], ['a20', '国际组织']
                            ];

                            var belong1 = [
                                ['1', '农业'], ['2', '林业'], ['3', '畜牧业'], ['4', '渔业'], ['5', '农、林、牧、渔专业及辅助性活动'],
                                ['6', '煤炭开采和洗选业'], ['7', '石油和天然气开采业'], ['8', '黑色金属矿采选业'], ['9', '有色金属矿采选业'], ['10', '非金属矿采选业'],
                                ['11', '开采专业及辅助性活动'], ['12', '其他采矿业'], ['13', '农副产品加工业'], ['14', '食品制造业'], ['15', '酒、饮料和精制茶制造业'],
                                ['16', '烟草制品业'], ['17', '纺织业'], ['18', '纺织服装、服饰业'], ['19', '皮革、毛衣、羽毛及其制品和制鞋业'], ['20', '木材加工和木、竹、藤、棕、草制品业'],
                                ['21', '家具制造业'], ['22', '造纸和纸制品业'], ['23', '印刷和记录媒介复制业'], ['24', '文教、工美、体育和娱乐用品制造业'], ['25', '石油、煤炭及其他燃料加工业'],
                                ['26', '化学原料和化学制品制造业'], ['27', '医药制造业'], ['28', '化学纤维制造业'], ['29', '橡胶和塑料制品业'], ['30', '非金属矿物制品业'],
                                ['31', '黑色金属冶炼和压延加工业'], ['32', '有色金属冶炼和压延加工业'], ['33', '金属制品业'], ['34', '通用设备制造业'], ['35', '专用设备制造业'],
                                ['36', '汽车制造业'], ['37', '铁路、船舶、航空航天和其他运输设备制造业'], ['38', '电气机械和器材制造业'], ['39', '计算机、通信和其他电子设备制造业'], ['40', '仪器仪表制造业'],
                                ['41', '其他制造业'], ['42', '废弃资源综合利用业'], ['43', '金属制品、机械和设备修理业'], ['44', '电力、热力生产和供应业'], ['45', '燃气生产和供应业'],
                                ['46', '水的生产和供应业'], ['47', '房屋建筑业'], ['48', '土木工程建筑业'], ['49', '建筑安装业'], ['50', '建筑装饰、装修和其他建筑业'],
                                ['51', '批发业'], ['52', '零售业'], ['53', '铁路运输业'], ['54', '道路运输业'], ['55', '水上运输业'],
                                ['56', '航空运输业'], ['57', '管道运输业'], ['58', '多式联运和运输代理业'], ['59', '装卸搬运和仓储业'], ['60', '邮政业'],
                                ['61', '住宿业'], ['62', '餐饮业'], ['63', '电信、广播电视和卫星传输服务'], ['64', '互联网和相关服务'], ['65', '软件和信息技术服务业'],
                                ['66', '货币金融服务'], ['67', '资本市场服务'], ['68', '保险业'], ['69', '其他金融业'], ['70', '房地产业'],
                                ['71', '租赁业'], ['72', '商务服务业'], ['73', '研究和试验发展'], ['74', '专业技术服务业'], ['75', '科技推广和应用服务业'],
                                ['76', '水利管理业'], ['77', '生态保护和环境治理业'], ['78', '公共设施管理业'], ['79', '土地管理业'], ['80', '居民服务业'],
                                ['81', '机动车、电子产品和日用产品修理业'], ['82', '其他服务业'], ['83', '教育'], ['84', '卫生'], ['85', '社会工作'],
                                ['86', '新闻和出版业'], ['87', '广播、电视、电影和录音制作业'], ['88', '文化艺术业'], ['89', '体育'], ['90', '娱乐业'],
                                ['91', '中国共产党机关'], ['92', '国家机构'], ['93', '人民政协、民主党派'], ['94', '社会保障'], ['95', '群众团体、社会团体和其他成员组织'],
                                ['96', '基层群众自治组织及其他组织'], ['97', '国际组织']
                            ];
                            var enterprisescale = [['type1', '大型企业'], ['type2', '中型企业'], ['type3', '小型企业'], ['type4', '微型企业']];
                            var enterpriseecotype = [['type1', '国有经济'], ['type2', '集体所有制经济'], ['type3', '私营经济'], ['type4', '联营经济'], ['type5', '股份制经济'], ['type6', '涉外经济']];


                            var area1 = [['1', '历下区'], ['2', '市中区'], ['3', '槐荫区'], ['4', '天桥区'], ['5', '历城区'], ['6', '长清区'], ['7', '章丘区'], ['8', '平阴县'], ['9', '济阳县'], ['10', '商河县'], ['11', '市南区'], ['12', '市北区'], ['13', '黄岛区'], ['14', '崂山区'], ['15', '李沧区'], ['16', '城阳区'], ['17', '胶州市'], ['18', '即墨市'], ['19', '平度市'], ['20', '莱西市'],
                                ['21', '淄川区'], ['22', '张店区'], ['23', '博山区'], ['24', '临淄区'], ['25', '周村区'], ['26', '桓台县'], ['27', '高青县'], ['28', '沂源县'], ['29', '市中区'], ['30', '薛城区'], ['31', '峄城区'], ['32', '台儿庄区'], ['33', '山亭区'], ['34', '滕州市'], ['35', '东营区'], ['36', '河口区'], ['37', '垦利区'], ['38', '利津县'], ['39', '广饶县'], ['40', '芝罘区'],
                                ['41', '福山区'], ['42', '牟平区'], ['43', '莱山区'], ['44', '长岛县'], ['45', '龙口市'], ['46', '莱阳市'], ['47', '莱州市'], ['48', '蓬莱市'], ['49', '招远市'], ['50', '栖霞市'], ['51', '海阳市'], ['52', '潍城区'], ['53', '寒亭区'], ['54', '坊子区'], ['55', '奎文区'], ['56', '临朐县'], ['57', '昌乐县'], ['58', '青州市'], ['59', '诸城市'], ['60', '寿光市'],
                                ['61', '安丘市'], ['62', '高密市'], ['63', '昌邑市'], ['64', '任城区'], ['65', '兖州区'], ['66', '微山县'], ['67', '鱼台县'], ['68', '金乡县'], ['69', '嘉祥县'], ['70', '汶上县'], ['71', '泗水县'], ['72', '梁山县'], ['73', '曲阜市'], ['74', '邹城市'], ['75', '泰山区'], ['76', '岱岳区'], ['77', '宁阳县'], ['78', '东平县'], ['79', '新泰市'], ['80', '肥城市'],
                                ['81', '环翠区'], ['82', '文登区'], ['83', '荣成市'], ['84', '乳山市'], ['85', '东港区'], ['86', '岚山区'], ['87', '五莲县'], ['88', '莒县'], ['89', '莱城区'], ['90', '钢城区'], ['91', '兰山区'], ['92', '罗庄区'], ['93', '河东区'], ['94', '沂南县'], ['95', '郯城县'], ['96', '沂水县'], ['97', '兰陵县'], ['98', '费县'], ['99', '平邑县'], ['100', '莒南县'],
                                ['101', '蒙阴县'], ['102', '临沭县'], ['103', '德城区'], ['104', '陵城区'], ['105', '宁津县'], ['106', '庆云县'], ['107', '临邑县'], ['108', '齐河县'], ['109', '平原县'], ['110', '夏津县'], ['111', '武城县'], ['112', '乐陵市'], ['113', '禹城市'], ['114', '东昌府区'], ['115', '阳谷县'], ['116', '莘县'], ['117', '茌平县'], ['118', '东阿县'], ['119', '冠县'], ['120', '高唐县'],
                                ['121', '临清市'], ['122', '高新技术产业开发区'], ['123', '经济开发区'], ['124', '滨城区'], ['125', '沾化区'], ['126', '惠民县'], ['127', '阳信县'], ['128', '无棣县'], ['129', '博兴县'], ['130', '邹平县'], ['131', '牡丹区'], ['132', '定陶区'], ['133', '曹县'], ['134', '单县'], ['135', '成武县'], ['136', '巨野县'], ['137', '郓城县'], ['138', '鄄城县'], ['139', '东明县']];
                            var area = new Map(area);
                            var area1 = new Map(area1);
                            var belong = new Map(belong);
                            var belong1 = new Map(belong1);
                            var enterprisescale = new Map(enterprisescale);
                            var enterpriseecotype = new Map(enterpriseecotype);
                            // console.log(myMap.get("0531"));

                            //   var kvArray = [["key1", "value1"], ["key2", "value2"]];

                            // 	// 使用映射对象常规的构造函数将一个二维键值对数组对象转换成一个映射关系
                            // 	var myMap = new Map(kvArray);

                            // 	console.log(myMap.get("key1")); // 返回值为 "value1"
                            for (let i = 0; i < this.getdata.length; i++) {
                                temp = {
                                    main_business: '',
                                    fax: '',
                                    code: '',
                                    name: '',
                                    contacts: '',
                                    area: '',
                                    phone: '',
                                    enterprise_kind: '',
                                    belong_to: '',
                                    address_detail: '',
                                    postal_code: '',
                                    email: '',
                                    enterprise_scale: ''
                                };
                                temp.main_business = this.getdata[i].main_business;
                                temp.fax = this.getdata[i].fax;
                                temp.code = this.getdata[i].code;
                                temp.name = this.getdata[i].name;
                                temp.contacts = this.getdata[i].contacts;
                                temp.phone = this.getdata[i].phone;
                                temp.enterprise_kind = enterpriseecotype.get(this.getdata[i].enterprise_kind);
                                temp.address_detail = this.getdata[i].address_detail;
                                temp.postal_code = this.getdata[i].postal_code;
                                temp.email = this.getdata[i].email;
                                temp.enterprise_scale = enterprisescale.get(this.getdata[i].enterprise_scale);
                                temp.area = area.get(this.getdata[i].area[0]) + '/' + area1.get(this.getdata[i].area[1]);
                                temp.belong_to = belong.get(this.getdata[i].belong_to[0]) + '/' + belong1.get(this.getdata[i].belong_to[1]);
                                this.data1.push(temp);
                            }

                        }, response => {
                            console.log('异常');
                            // error callback
                        });
                    }
                });
            },

            show(index) {
                this.$Modal.info({
                    title: '企业信息',
                    content: `所属地区：${this.data1[index].area}
					<br>组织机构代码：${this.data1[index].code}
					<br>企业名称：${this.data1[index].name}
					<br>企业规模：${this.data1[index].enterprise_scale}
					<br>企业经济类型：${this.data1[index].enterprise_kind}
					<br>所属行业：${this.data1[index].belong_to}
					<br>主要经营业务：${this.data1[index].main_business}
					<br>联系人：${this.data1[index].contacts}
					<br>联系地址：${this.data1[index].address_detail}
					<br>邮政编码：${this.data1[index].postal_code}
					<br>联系电话：${this.data1[index].phone}
					<br>传真：${this.data1[index].fax}
					<br>EMAIL：${this.data1[index].email}`
                });
            },
            exportData() {
                this.$refs.table.exportCsv({
                    filename: '企业信息'
                });
            },
            handleExit() {
                var path = base_path + 'account/logout';
                this.$http.get(path).then(response => {
                    window.location.href = '../login.html';//跳转到登录页面
                    // get body data
                    //this.tasks = response.body;
                }, response => {
                    // error callback
                });
            }
        }
    });

</script>
</body>
</html>