<html>
<head>
<meta charset="UTF-8">
<title>企业查询</title>
<!-- import Vue.js -->
	<script src="./vue.js"></script>
	<script src="./vue-resource.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
	<!-- import iView -->
	<script src="./iview.min.js"></script>
	<!--import path-->
	<script src=".\path.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}
	
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 17%;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-top:100px;
		margin-left:40%;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
			<div class="layout-logo">
				<a href="adminuser.html">
					<img src="../images/logo.jpg" style="width:190px;height:35px;"/>
				</a>
			</div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="1-1" theme="dark" width="auto" :open-names="['1']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">企业管理</span>
                        </template>
						<a href="adminenterpriseselect.html">
							<Menu-item name="1-1">企业查询</Menu-item>
						</a>
						<a href="sampleanalysis.html">
							<Menu-item name="1-2">取样分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">数据管理</span>
                        </template>
						<a href="datamanagement.html">
							<Menu-item name="2-1">数据处理</Menu-item>
						</a>
						<a href="dataaudit.html">
							<Menu-item name="2-2">数据审核</Menu-item>
						</a>
						<a href="datasummary.html">
							<Menu-item name="2-3">数据汇总</Menu-item>
						</a>
						<a href="graph.html">
							<Menu-item name="2-4">图表分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">通知中心</span>
                        </template>
						<a href="notice.html">
							<Menu-item name="3-1">发布通知</Menu-item>
						</a>
						<a href="noticeviewing.html">
							<Menu-item name="3-2">浏览通知</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="4">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">系统管理</span>
                        </template>
						<a href="reportingdeadline.html">
							<Menu-item name="4-1">上报时限</Menu-item>
						</a>
						<a href="createnewuser.html" >
							<Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
						</a>
						<a href="usermanagement.html">
							<Menu-item name="4-3" v-if=' flag==2 '>用户管理</Menu-item>
						</a>
						<a href="charactermanagement.html">
							<Menu-item name="4-4" v-if=' flag==2 '>角色管理</Menu-item>
						</a>
						<a href="systemmonitoring.html">
							<Menu-item name="4-5">系统监控</Menu-item>
						</a>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==1 '><script>document.write(sessionStorage.area)</script>市管理员用户</Breadcrumb-item>
						<Breadcrumb-item>企业管理</Breadcrumb-item>
						<Breadcrumb-item>企业查询</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
						<i-form :model="formInline"  inline >
							<Form-Item>
								<i-select v-model="formInline.area" placeholder="所属地区" style="width:250px">
									<i-option value="0531">济南</i-option>
									<i-option value="0532">青岛</i-option>
									<i-option value="0533">淄博</i-option>
									<i-option value="0534">德州</i-option>
									<i-option value="0535">烟台</i-option>
									<i-option value="0536">潍坊</i-option>
									<i-option value="0537">济宁</i-option>
									<i-option value="0538">泰安</i-option>
									<i-option value="0539">临沂</i-option>
									<i-option value="0530">菏泽</i-option>
									<i-option value="0543">滨州</i-option>
									<i-option value="0546">东营</i-option>
									<i-option value="0631">威海</i-option>
									<i-option value="0632">枣庄</i-option>
									<i-option value="0633">日照</i-option>
									<i-option value="0634">莱芜</i-option>
									<i-option value="0635">聊城</i-option>
								</i-select>
							</Form-Item>
							<Form-Item>
								<i-button type="primary" @click="postData()">查询</i-button>
							</Form-Item>
						</i-form>
                        <i-table border :columns="columns" :data="data1" height="700px" ref="table"></i-table>
						<i-button type="primary" size="large" @click="exportData()"><icon type="ios-download-outline"></icon> 导出表格</i-button>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
	<Back-Top></Back-Top>
  </div>

<script>
	new Vue({
        el: '#app',
        data () {
                return {
                    flag:sessionStorage.is_admin,
					spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
					
                    columns: [
						{
							title: '所属地区',
							key: 'area'
						},
						{
							title: '组织机构代码',
							key: 'code'
						},
						{
							title: '企业名称',
							key: 'name'
						},
					/*	{
							title: '企业规模',
							key: 'enterprise_scale'
						},
						{
							title: '企业经济类型',
							key: 'enterprise_kind'
						},
						{
							title: '所属行业',
							key: 'belong_to'
						},
						{
							title: '主要经营业务',
							key: 'main_business'
						},
						{
							title: '联系人',
							key: 'contacts'
						},
						{
							title: '联系地址',
							key: 'address'
						},
						{
							title: '邮政编码',
							key: 'postal_code'
						},
						{
							title: '联系电话',
							key: 'phone'
						},
						{
							title: '传真',
							key: 'fax'
						},
						{
							title: 'EMAIL',
							key: 'email'
						},
					*/	
						{
							title: '操作',
							key: 'action',
							width: 140,
							align: 'center',
							render: (h, params) => {
								return h('div', [
									h('Button', {
										props: {
											type: 'primary',
											size: 'small'
										},
										style: {
											marginRight: '5px'
										},
										on: {
											click: () => {
												this.show(params.index)
											}
										}
									}, '详情')
								]);
							}
						}
					],
					data1: [],
					getdata:[],
                    formInline: {
						area: ''
					}
                }
            },
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
			formatDate:function(date) {
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let monthZero = month < 10 ? '0' : '';
                let day = date.getDate();
                let dayZero = day < 10 ? '0' : '';
                let hour=date.getHours();
                let hourZero = hour < 10 ? '0' : '';
                let minute=date.getMinutes();
                let minuteZero = minute < 10 ? '0' : '';
                let second=date.getSeconds();
                let secondZero = second < 10 ? '0' : '';
                return year + '-' + monthZero + month + '-' + dayZero + day+'T'+hourZero+hour+':'+minuteZero+minute+':'+secondZero+second+'+00:00';
        	},
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
			},
			postData:function(){
				var path=base_path+'admin/info/';
				var name={
					area:this.formInline.area
				}
                console.log('name='+name);
                this.$http.post(path,name).then(response => {
				  this.getdata=response.body;
				  console.log(this.temp);
				  var area=[["0531","济南"],["0532","青岛"],["0533","淄博"],["0534","德州"],["0535","烟台"],["0536","潍坊"],["0537","济宁"],
				  ["0538","泰安"],["0539","临沂"],["0530","菏泽"],["0543","滨州"],["0546","东营"],["0631","威海"],["0632","枣庄"],["0633","日照"],["0634","莱芜"],["0635","聊城"]];
				  var myMap = new Map(area);
				 
				  console.log(myMap.get("0531")); 
				//   var kvArray = [["key1", "value1"], ["key2", "value2"]];

				// 	// 使用映射对象常规的构造函数将一个二维键值对数组对象转换成一个映射关系
				// 	var myMap = new Map(kvArray);

				// 	console.log(myMap.get("key1")); // 返回值为 "value1"
				for (let i=0; i<this.getdata.length; i++) {
                    temp = {main_business:'', fax:'',code:'',name:'',contacts:'',area:'',phone:'',enterprise_kind:'',belong_to:'',address_detail,postal_code:'',email:'',enterprise_scale:''};
                    temp.main_business = this.getdata[i].main_business;
					temp.fax = this.getdata[i].fax;
					temp.code = this.getdata[i].code;
					temp.name = this.getdata[i].name;
					temp.contacts = this.getdata[i].contacts;
					temp.phone = this.getdata[i].phone;
					temp.enterprise_kind = this.getdata[i].enterprise_kind;
					temp.address_detail = this.getdata[i].address_detail;
					temp.postal_code = this.getdata[i].postal_code;
					temp.email = this.getdata[i].email;
					temp.enterprise_scale = this.getdata[i].enterprise_scale;
					temp.area=area.get(this.getdata[i].area[0])+'/'+area1.get(this.getdata[i].area[1]);
					temp.belong_to=belong.get(this.getdata[i].belong_to[0])+'/'+belong1.get(this.getdata[i].belong_to[1]);
                    this.data1.push(temp);
                }
                }, response => {
                    console.log("异常");
                  // error callback
                });
            },
			
			show (index) {
                this.$Modal.info({
                    title: '企业信息',
                    content: `所属地区：${this.data1[index].area}
					<br>组织机构代码：${this.data1[index].code}
					<br>企业名称：${this.data1[index].name}
					<br>企业规模：${this.data1[index].enterprise_scale}
					<br>企业经济类型：${this.data1[index].enterprise_kind}
					<br>所属行业：${this.data1[index].belong_to}
					<br>主要经营业务：${this.data1[index].main_business}
					<br>联系人：${this.data1[index].contacts}
					<br>联系地址：${this.data1[index].address_detail}
					<br>邮政编码：${this.data1[index].postal_code}
					<br>联系电话：${this.data1[index].phone}
					<br>传真：${this.data1[index].fax}
					<br>EMAIL：${this.data1[index].email}`
                })
            },
            exportData () {
				this.$refs.table.exportCsv({
					filename: '企业信息'
				});
            },      
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            }
        }
    })

</script>
</body>
</html>