<html>
<head>
<meta charset="UTF-8">
<title>对比分析</title>
<!-- import Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
<!-- import stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
<!-- import iView -->
<script src="https://unpkg.com/iview/dist/iview.min.js"></script>
<!-- import ECHART -->
<script src="http://echarts.baidu.com/dist/echarts.js"></script>
<!--import path-->
<script src=".\path.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}
	
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 17%;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-left:40%;
		text-align: center;
	}
    #center{
        margin-top:20px;
        text-align:center;
    }
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
            <div class="layout-logo">
                <a href="adminuser.html">
                    <img src="../images/logo.jpg" style="width:190px;height:35px;"/>
                </a>
            </div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="2-4" theme="dark" width="auto" :open-names="['2']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">企业管理</span>
                        </template>
                        <a href="adminenterpriseselect.html">
                            <Menu-item name="1-1">企业查询</Menu-item>
                        </a>
                        <a href="sampleanalysis.html">
                            <Menu-item name="1-2">取样分析</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">数据管理</span>
                        </template>
                        <a href="datamanagement.html">
                            <Menu-item name="2-1">数据处理</Menu-item>
                        </a>
                        <a href="dataaudit.html">
                            <Menu-item name="2-2">数据审核</Menu-item>
                        </a>
                        <a href="datasummary.html">
                            <Menu-item name="2-3">数据汇总</Menu-item>
                        </a>
                        <a href="graph.html">
                            <Menu-item name="2-4">图表分析</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">通知中心</span>
                        </template>
                        <a href="notice.html">
                            <Menu-item name="3-1">发布通知</Menu-item>
                        </a>
                        <a href="noticeviewing.html">
                            <Menu-item name="3-2">浏览通知</Menu-item>
                        </a>
                    </Submenu>
                    <Submenu name="4">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">系统管理</span>
                        </template>
                        <a href="reportingdeadline.html">
                            <Menu-item name="4-1">上报时限</Menu-item>
                        </a>
                        <a href="createnewuser.html" >
                            <Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
                        </a>
                        <a href="usermanagement.html">
                            <Menu-item name="4-3" v-if=' flag==2 '>用户管理</Menu-item>
                        </a>
                        <a href="charactermanagement.html">
                            <Menu-item name="4-4" v-if=' flag==2 '>角色管理</Menu-item>
                        </a>
                        <a href="systemmonitoring.html">
                            <Menu-item name="4-5">系统监控</Menu-item>
                        </a>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==1 '><script>document.write(sessionStorage.area)</script>市管理员用户</Breadcrumb-item>
						<Breadcrumb-item>数据管理</Breadcrumb-item>
						<Breadcrumb-item href="graph.html">图表分析</Breadcrumb-item>
                        <Breadcrumb-item>对比分析</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle" id="center">
                        <h1>对比分析</h1>
                        <i-table border ref="selection" :columns="columns1" :data="data1" height="400px" @on-select="select($event)"></i-table>

                            
                        </br></br></br>	
                        <div id="bar_chart" style="width:100%;height:800px;"></div>
                        <i-table border height="300" :columns="column2" :data="data2" ref="table" ></i-table>
                    </div>

                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
	<Back-Top></Back-Top>
  </div>

<script>
	new Vue({
        el: '#app',
        data () {
                return {
                    flag:sessionStorage.is_admin,
                    temp:0,
                    flag:sessionStorage.is_admin,
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    formInline: {
                        item1: '',
						item2: ''
                    },
                    ruleInline: {
                        
                    },
                    columns1: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '开始时间',
                        key: 'start'
                    },
                    {
                        title: '结束时间',
                        key: 'end'
                    }
                    ],
                    column2: [
                    {
                        title: '企业总数',
                        key: 'sum'
                    },
                    {
                        title: '建档期总岗位数',
                        key: 'filing'
                    },
                    {
                        title: '调查期总岗位数',
                        key: 'check'
                    },
                    {
                        title: '岗位变化总数',
                        key: 'diff'
                    },
                    {
                        title: '岗位变化占比',
                        key: 'percent'
                    }
                    ],
                    data1: [
                        {
                            start:'2016-7-7',
                            end:'2019-7-4',
                            id:'1'
                        },
                        {
                            start:'2017-7-7',
                            end:'2019-7-4',
                            id:'2'
                        },
                        {
                            start:'2018-7-7',
                            end:'2019-7-4',
                            id:'3'
                        },
                        {
                            start:'2019-7-7',
                            end:'2019-7-4',
                            id:'4'
                        }
                    ],
                    data2: [
                        {
                            sum:'45',
                            filing:'46',
                            check:'7',
                            diff:'2',
                            percent:'45'
                            
                        },
                        {
                            sum:'25',
                            filing:'65',
                            check:'7',
                            diff:'78',
                            percent:'76'
                            
                        }
                    ],

                }
            },
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
        },
        created: function () {
			this.getTable();
        },
        mounted(){
            this.bar_chart();
        },
        methods: {
            select: function(e) {
                console.log(e);
                if(e.length!=2)
                    this.$Message.error('请选中两项');
                else{
                    console.log(e.length);
                    console.log(e[0].id);
                    console.log(e[1].id);
                    var name={
                        id_1:e[0].id,
                        id_2:e[1].id
                    }
                    var path=base_path+'admin/compare';
                    console.log(name);
                    this.$http.post(path,name).then(response => {
                        this.data2=response.body;
                        this.$Message.success('修改成功');
                        console.log("正常");
                    }, response => {
                        this.$Message.error('修改失败');
                        console.log("异常");
                        console.log(response.body);
                    // error callback
                    });
                }

            },
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            
            getTable:function()
			{
				console.log("执行get函数");
				var path=base_path+'admin/compare';
				this.$http.get(path).then(response => {
				  
				  this.data1=response.body;
				  console.log(this.data1);
				}, response => {
				console.log("异常");
				  // error callback
				});
				
            },
            bar_chart(){//折线图
                var myChart = echarts.init(document.getElementById('bar_chart'));
                var posList = [
                    'left', 'right', 'top', 'bottom',
                    'inside',
                    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
                    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
                ];

                app.configParameters = {
                    rotate: {
                        min: -90,
                        max: 90
                    },
                    align: {
                        options: {
                            left: 'left',
                            center: 'center',
                            right: 'right'
                        }
                    },
                    verticalAlign: {
                        options: {
                            top: 'top',
                            middle: 'middle',
                            bottom: 'bottom'
                        }
                    },
                    position: {
                        options: echarts.util.reduce(posList, function (map, pos) {
                            map[pos] = pos;
                            return map;
                        }, {})
                    },
                    distance: {
                        min: 0,
                        max: 100
                    }
                };

                app.config = {
                    rotate: 90,
                    align: 'left',
                    verticalAlign: 'middle',
                    position: 'insideBottom',
                    distance: 15,
                    onChange: function () {
                        var labelOption = {
                            normal: {
                                rotate: app.config.rotate,
                                align: app.config.align,
                                verticalAlign: app.config.verticalAlign,
                                position: app.config.position,
                                distance: app.config.distance
                            }
                        };
                        myChart.setOption({
                            series: [{
                                label: labelOption
                            }, {
                                label: labelOption
                            }, {
                                label: labelOption
                            }, {
                                label: labelOption
                            }]
                        });
                    }
                };


                var labelOption = {
                    normal: {
                        show: true,
                        position: app.config.position,
                        distance: app.config.distance,
                        align: app.config.align,
                        verticalAlign: app.config.verticalAlign,
                        rotate: app.config.rotate,
                        formatter: '{c}  {name|{a}}',
                        fontSize: 16,
                        rich: {
                            name: {
                                textBorderColor: '#fff'
                            }
                        }
                    }
                };

                option = {
                    color: ['#003366','#e5323e'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['第一个调查期','第二个调查期']
                    },
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        left: 'right',
                        top: 'center',
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {show: false},
                            data: ['企业总数', '建档期总岗位数', '调查期总岗位数', '岗位变化总数', '岗位变化占比%']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '第一个调查期',
                            type: 'bar',
                            barGap: 0,
                            label: labelOption,
                            data: [320, 332, 301, 334, 50]
                        },
                        {
                            name: '第二个调查期',
                            type: 'bar',
                            label: labelOption,
                            data: [98, 77, 101, 99, 60]
                        }
                    ]
                };
               
                option.series[0].data[0]=this.data2[0].sum;
                option.series[0].data[1]=this.data2[0].filing;
                option.series[0].data[2]=this.data2[0].check;
                option.series[0].data[3]=this.data2[0].diff;
                option.series[0].data[4]=this.data2[0].percent;
                option.series[1].data[0]=this.data2[1].sum;
                option.series[1].data[1]=this.data2[1].filing;
                option.series[1].data[2]=this.data2[1].check;
                option.series[1].data[3]=this.data2[1].diff;
                option.series[1].data[4]=this.data2[1].percent;
                /*for(var i=0;i<this.data2.length;i++)//跟表格数据绑定
                {
                    console.log(this.data2[i]);
                    option.xAxis.data[i]=this.data2[i].date;
                    option.series[0].data[i]=this.data2[i].amount;
                    console.log(option);
                }*/
                myChart.on('brushSelected', renderBrushed);

                function renderBrushed(params) {
                    var brushed = [];
                    var brushComponent = params.batch[0];

                    for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
                        var rawIndices = brushComponent.selected[sIdx].dataIndex;
                        brushed.push('[Series ' + sIdx + '] ' + rawIndices.join(', '));
                    }

                    myChart.setOption({
                        title: {
                            backgroundColor: '#333',
                            text: 'SELECTED DATA INDICES: \n' + brushed.join('\n'),
                            bottom: 0,
                            right: 0,
                            width: 100,
                            textStyle: {
                                fontSize: 12,
                                color: '#fff'
                            }
                        }
                    });
                }
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
            },
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            }
        }
    })
</script>
</body>
</html>