<html>
<head>
<meta charset="UTF-8">
<title>创建新用户</title>
<!-- import Mock -->
<script src="http://mockjs.com/dist/mock.js"></script>
<!-- import Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
<!-- import stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
<!-- import iView -->
<script src="https://unpkg.com/iview/dist/iview.min.js"></script>
<!--import path-->
<script src=".\path.js"></script>
<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
    }
    .layout-header{
        height: 50px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px;
		font-family:"LiSu",隶书;
		line-height:50px;
    }
    #form{
                margin-top:100px;
                margin-left:40%;
                text-align: center;

            }
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
        <Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="1-2" theme="dark" width="auto" :open-names="['1']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">导航一</span>
                        </template>
                        <Menu-item name="1-1">选项 1</Menu-item>
                        <Menu-item name="1-2">选项 2</Menu-item>
                        <Menu-item name="1-3">选项 3</Menu-item>
                    </Submenu>
                    <Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-keypad" :size="iconSize"></Icon>
                            <span class="layout-text">导航二</span>
                        </template>
                        <Menu-item name="2-1">选项 1</Menu-item>
                        <Menu-item name="2-2">选项 2</Menu-item>
                    </Submenu>
                    <Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-analytics" :size="iconSize"></Icon>
                            <span class="layout-text">导航三</span>
                        </template>
                        <Menu-item name="3-1">选项 1</Menu-item>
                        <Menu-item name="3-2">选项 2</Menu-item>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-header">
                    <i-button type="text" @click="toggleClick">
                        <Icon type="navicon" size="32"></Icon>
                    </i-button>
					<span class="system-title">山东省人力资源市场数据采集系统</span>

                </div>
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="#">首页</Breadcrumb-item>
                        <Breadcrumb-item href="#">应用中心</Breadcrumb-item>
                        <Breadcrumb-item>某应用</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
                            <i-form id="form" ref="formInline" :model="formInline" :rules="ruleInline" style="width: 300px" >
                                    <h1>创建新用户</h1>
                                </br>
                                    <Form-Item prop="email">
                                        <i-input type="text" v-model="formInline.email" placeholder="新账号" clearable style="width: 300px">
                                            <icon type="ios-person-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
                                    <Form-Item prop="password_md5">
                                        <i-input type="password" v-model="formInline.password_md5" placeholder="新密码" clearable style="width: 300px">
                                            <icon type="ios-locked-outline" slot="prepend"></icon>
                                        </i-input>
                                    </Form-Item>
                                    <Form-Item>
                                        <i-button type="primary" @click="handleSubmit('formInline',formInline)">创建</i-button>
                                    </Form-Item>
                                </i-form>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
  </div>

<script>
	new Vue({
        el: '#app',

        data () {
                return {
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    formInline: {
                        email: '',
                        password_md5: ''
                    },
                    ruleInline: {
                        email: [
                            { required: true, message: 'Please fill in the user name', trigger: 'blur' }
                        ],
                        password_md5: [
                            { required: true, message: 'Please fill in the password.', trigger: 'blur' },
                            { type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
                        ]
                    }
                }
            },

    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            handleSubmit(sname,name) {
                this.$refs[sname].validate((valid) => {
                    if (valid) {
                        var path=base_path+'account/register';
                        console.log(name);
                        this.$http.post(path,name).then(response => {
                            // get body data
                            //this.tasks = response.body;
                            this.tasks=response.body;
                            console.log(this.tasks);
                            this.$Message.success('注册成功！');
                            
                        }, response => {
                            // error callback
                            this.$Message.error(response.body.error);
                        });

                    } else {
                        this.$Message.error('注册失败，格式不正确！');
                    }
                })

            }
            
        }
    });
</script>
</body>
</html>
