<html>
<head>
<meta charset="UTF-8">
<title>创建新用户</title>
<!-- import Mock -->
<script src="http://mockjs.com/dist/mock.js"></script>
<!-- import Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
<!-- import stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
<!-- import iView -->
<script src="https://unpkg.com/iview/dist/iview.min.js"></script>
<!--import path-->
<script src=".\path.js"></script>
<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}
	
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 220px;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-top:100px;
		margin-left:40%;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
			<div class="layout-logo"></div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="4-2" theme="dark" width="auto" :open-names="['4']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">企业管理</span>
                        </template>
						<a href="adminenterpriseselect.html">
							<Menu-item name="1-1">企业查询</Menu-item>
						</a>
						<a href="sampleanalysis.html">
							<Menu-item name="1-2">取样分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">数据管理</span>
                        </template>
						<a href="datamanagement.html">
							<Menu-item name="2-1">数据处理</Menu-item>
						</a>
						<a href="datasummary.html">
							<Menu-item name="2-2">数据汇总</Menu-item>
						</a>
						<a href="graph.html">
							<Menu-item name="2-3">图表分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">通知中心</span>
                        </template>
						<a href="notice.html">
							<Menu-item name="3-1">发布通知</Menu-item>
						</a>
						<a href="noticeviewing.html">
							<Menu-item name="3-2">浏览通知</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="4">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">系统管理</span>
                        </template>
						<a href="reportingdeadline.html">
							<Menu-item name="4-1">上报时限</Menu-item>
						</a>
						<a href="createnewuser.html" >
							<Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
						</a>
						<a href="usermanagement.html">
							<Menu-item name="4-3">用户管理</Menu-item>
						</a>
						<a href="charactermanagement.html">
							<Menu-item name="4-4">角色管理</Menu-item>
						</a>
						<a href="systemmonitoring.html">
							<Menu-item name="4-5">系统监控</Menu-item>
						</a>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==1 '>市级管理员用户</Breadcrumb-item>
						<Breadcrumb-item>系统管理</Breadcrumb-item>
                        <Breadcrumb-item>创建新用户</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
						<i-form id="form" ref="formInline" :model="formInline" :rules="ruleInline" style="width: 300px" >
							<h1>创建新用户</h1>
							</br>
							<Form-Item prop="email">
								<i-input type="text" v-model="formInline.email" placeholder="新账号" clearable style="width: 300px">
									<icon type="ios-person-outline" slot="prepend"></icon>
								</i-input>
							</Form-Item>
							<Form-Item prop="password_md5">
								<i-input type="password" v-model="formInline.password_md5" placeholder="新密码" clearable style="width: 300px">
									<icon type="ios-locked-outline" slot="prepend"></icon>
								</i-input>
							</Form-Item>
							<Form-Item prop="area">
								<i-select v-model="formInline.area" placeholder="所属地区" style="width:300px">
									<i-option value="0531">济南</i-option>
									<i-option value="0532">青岛</i-option>
									<i-option value="0533">淄博</i-option>
									<i-option value="0534">德州</i-option>
									<i-option value="0535">烟台</i-option>
									<i-option value="0536">潍坊</i-option>
									<i-option value="0537">济宁</i-option>
									<i-option value="0538">泰安</i-option>
									<i-option value="0539">临沂</i-option>
									<i-option value="0530">菏泽</i-option>
									<i-option value="0543">滨州</i-option>
									<i-option value="0546">东营</i-option>
									<i-option value="0631">威海</i-option>
									<i-option value="0632">枣庄</i-option>
									<i-option value="0633">日照</i-option>
									<i-option value="0634">莱芜</i-option>
									<i-option value="0635">聊城</i-option>
								</i-select>
							</Form-Item>
							<Form-Item prop="is_admin">
								<Radio-Group v-model="formInline.is_admin">
									<Radio label="0">
										<span>企业用户</span>
									</Radio>
									<Radio label="1">
										<span>市级管理员</span>
									</Radio>
								</Radio-Group>
							</Form-Item>
							<Form-Item>
								<i-button type="primary" @click="handleSubmit('formInline',formInline)">创建</i-button>
							</Form-Item>
						</i-form>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
  </div>

<script>
	new Vue({
        el: '#app',

        data () {
                return {
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
					flag:sessionStorage.is_admin,
                    formInline: {
                        email: '',
                        password_md5: '',
						is_admin: '',
						area: ''
                    },
                    ruleInline: {
                        email: [
                            { required: true, message: '请输入用户名。', trigger: 'blur' }
                        ],
                        password_md5: [
                            { required: true, message: '请输入密码。', trigger: 'blur' },
                            { type: 'string', min: 6, message: '密码必须不少于6位。', trigger: 'blur' }
                        ],
						is_admin: [
                            { required: true, message: '请选择角色。', trigger: 'blur' }
                        ],
						area: [
                            { required: true, message: '请选择所属地区。', trigger: 'blur' }
                        ]
                    }
                }
            },

    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            handleSubmit(sname,name) {
			
                this.$refs[sname].validate((valid) => {
                    if (valid) {
                        var path=base_path+'account/register';
                        console.log(name);
                        this.$http.post(path,name).then(response => {
                            // get body data
                            //this.tasks = response.body;
                            this.tasks=response.body;
                            console.log(this.tasks);
                            this.$Message.success('注册成功！');
                            
                        }, response => {
                            // error callback
                            this.$Message.error(response.body.error);
                        });

                    } else {
                        this.$Message.error('注册失败，格式不正确！');
                    }
                })

            },
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            }
            
        }
    });
</script>
</body>
</html>
