<html>
<head>
<meta charset="UTF-8">
<title>数据审核</title>
<!-- import Vue.js -->
	<script src="./vue.js"></script>
	<script src="./vue-resource.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
	<!-- import iView -->
	<script src="./iview.min.js"></script>
	<!--import path-->
	<script src=".\path.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}

    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 17%;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px;
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-top:50px;
		margin-left:10%;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
			<div class="layout-logo">
				<a href="adminuser.html">
				    <img src="../images/logo.jpg" style="width:190px;height:35px;"/>
				</a>
			</div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="2-2" theme="dark" width="auto" :open-names="['2']">
					<Submenu name="1">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">企业管理</span>
						</template>
						<a href="adminenterpriseselect.html">
							<Menu-item name="1-1">企业查询</Menu-item>
						</a>
						<a href="sampleanalysis.html">
							<Menu-item name="1-2">取样分析</Menu-item>
						</a>
					</Submenu>
					<Submenu name="2">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">数据管理</span>
						</template>
						<a href="datamanagement.html">
							<Menu-item name="2-1">数据处理</Menu-item>
						</a>
						<a href="dataaudit.html">
							<Menu-item name="2-2">数据审核</Menu-item>
						</a>
						<a href="datasummary.html">
							<Menu-item name="2-3">数据汇总</Menu-item>
						</a>
						<a href="graph.html">
							<Menu-item name="2-4">图表分析</Menu-item>
						</a>
					</Submenu>
					<Submenu name="3">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">通知中心</span>
						</template>
						<a href="notice.html">
							<Menu-item name="3-1">发布通知</Menu-item>
						</a>
						<a href="noticeviewing.html">
							<Menu-item name="3-2">浏览通知</Menu-item>
						</a>
					</Submenu>
					<Submenu name="4">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">系统管理</span>
						</template>
						<a href="reportingdeadline.html">
							<Menu-item name="4-1">上报时限</Menu-item>
						</a>
						<a href="createnewuser.html" >
							<Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
						</a>
						<a href="usermanagement.html">
							<Menu-item name="4-3" v-if=' flag==2 '>用户管理</Menu-item>
						</a>
						<a href="charactermanagement.html">
							<Menu-item name="4-4" v-if=' flag==2 '>角色管理</Menu-item>
						</a>
						<a href="systemmonitoring.html">
							<Menu-item name="4-5">系统监控</Menu-item>
						</a>
					</Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==1 '><script>document.write(sessionStorage.area)</script>市管理员用户</Breadcrumb-item>
						<Breadcrumb-item>数据管理</Breadcrumb-item>
						<Breadcrumb-item>数据审核</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
						<i-form id="form" ref="formInline" :model="formInline" style="width: 800px" >
							<h1>数据审核</h1>
							<br>
						</i-form>
						<i-table border height="700" :columns="columns1" :data="data1" ref="table"></i-table>
					</div>
					<Modal title="退回" width="550" v-model="modal.show" @on-ok="back()">
                        <i-form ref="modal" :model="modal" label-position="left" :label-width="125" :rules="ruleInline_change">
                            <Form-Item label="备注" prop="remark">
                                <i-input type="text" v-model="modal.remark" placeholder="退回理由" clearable style="width: 300px"></i-input>
                            </Form-Item>
                        </i-form>
				  </Modal>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
	<Back-Top></Back-Top>
  </div>

<script>
	new Vue({
        el: '#app',
        data (){
                return {
                    flag:sessionStorage.is_admin,
					temp:0,
					spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    modal: {
                        show: false,
                        index: 0,
                        remark:''
                    },
                    ruleInline_change: {
						remark: [
                            { required: true, message: '请输入退回理由。'}
                        ]
					},
                    columns1: [
                        {
                            title: '企业名称',
                            key: 'name'
                        },
						{
                            title: '建档期就业人数',
                            key: 'filing'
                        },
                        {
                            title: '调查期就业人数',
                            key: 'check'
                        },
                        {
                            title: '其他原因',
                            key: 'other_reason'
                        },
                        {
                            title: '就业人数减少类型',
                            key: 'decrease_type'
                        },
                        {
                            title: '主要原因',
                            key: 'main_reason'
                        },
                        {
                            title: '主要原因说明',
                            key: 'main_reason_detail'
                        },
                        {
                            title: '次要原因',
                            key: 'second_reason'
                        },
                        {
                            title: '次要原因说明',
                            key: 'second_reason_detail'
                        },
                        {
                            title: '第三原因',
                            key: 'third_reason'
                        },
                        {
                            title: '第三原因说明',
                            key: 'third_reason_detail'
                        },
                        {
                            title: '操作',
                            key: 'action',
                         //   width: 120,
                            align: 'center',
                            render: (h, params) => {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'success',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
                                                this.pass(params.index)
                                            }
                                        }
                                    }, '通过'),
									h('Button', {
                                        props: {
                                            type: 'error',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
												this.modal.show=true;
                                                this.modal.remark='',
                                                this.modal.index = params.index;
                                            }
                                        }
                                    }, '退回')

                                ]);
                            }
                        }
                    ],
                    data1: [{
                            name:'齐氏企业',
							filing: '456',
                            check: '456',
                            id:'1'
						}],
                    
                }
        },
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
        },
        created: function () {
			this.getTable();
		},
        methods: {
			
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
			getTable:function()
			{
				console.log("执行get函数");
				var path=base_path+'admin/datacheck/';
				this.$http.get(path).then(response => {
				  console.log("正常");
				  console.log(response.body);
				  this.data1=response.body;
				  console.log(this.data1);
				}, response => {
				console.log("异常");
				  // error callback
				});
				
			},
			pass (index) {//通过
                var path=base_path+'admin/datacheck/';
                var name={
                    id:this.data1[index].id,
                    status:1,
                    remark:''
                }
                console.log(name);
                this.$http.post(path,name).then(response => {
                    // get body data
                    //this.tasks = response.body;
                    this.tasks=response.body;
                    console.log(this.tasks);
                    this.$Message.success('审核通过！');
                    
                }, response => {
                    // error callback
                    this.$Message.error(response.body.error);
                });
            },
			
			back () {//退回
                var path=base_path+'admin/datacheck/';
                var name={
                    id:this.data1[this.modal.index].id,
                    status:1,
                    remark:this.modal.remark
                }
                console.log(name);
                this.$http.post(path,name).then(response => {
                    // get body data
                    //this.tasks = response.body;
                    this.tasks=response.body;
                    console.log(this.tasks);
                    this.$Message.success('审核退回！');
                    
                }, response => {
                    // error callback
                    this.$Message.error(response.body.error);
                });
            },
			
			
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            }
        }
    })
</script>
</body>
</html>