<html>
<head>
<meta charset="UTF-8">
<title>数据管理</title>
<!-- import Vue.js -->
	<script src="./vue.js"></script>
	<script src="./vue-resource.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
	<!-- import iView -->
	<script src="./iview.min.js"></script>
	<!--import path-->
	<script src=".\path.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}

    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 17%;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px;
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-top:100px;
		margin-left:40%;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
			<div class="layout-logo">
				<a href="adminuser.html">
				  <img src="../images/logo.jpg" style="width:190px;height:35px;"/>
				</a>
			</div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="2-1" theme="dark" width="auto" :open-names="['2']">
					<Submenu name="1">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">企业管理</span>
						</template>
						<a href="adminenterpriseselect.html">
							<Menu-item name="1-1">企业查询</Menu-item>
						</a>
						<a href="sampleanalysis.html">
							<Menu-item name="1-2">取样分析</Menu-item>
						</a>
					</Submenu>
					<Submenu name="2">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">数据管理</span>
						</template>
						<a href="datamanagement.html">
							<Menu-item name="2-1">数据处理</Menu-item>
						</a>
						<a href="dataaudit.html">
							<Menu-item name="2-2">数据审核</Menu-item>
						</a>
						<a href="datasummary.html">
							<Menu-item name="2-3">数据汇总</Menu-item>
						</a>
						<a href="graph.html">
							<Menu-item name="2-4">图表分析</Menu-item>
						</a>
					</Submenu>
					<Submenu name="3">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">通知中心</span>
						</template>
						<a href="notice.html">
							<Menu-item name="3-1">发布通知</Menu-item>
						</a>
						<a href="noticeviewing.html">
							<Menu-item name="3-2">浏览通知</Menu-item>
						</a>
					</Submenu>
					<Submenu name="4">
						<template slot="title">
							<Icon type="ios-navigate" :size="iconSize"></Icon>
							<span class="layout-text">系统管理</span>
						</template>
						<a href="reportingdeadline.html">
							<Menu-item name="4-1">上报时限</Menu-item>
						</a>
						<a href="createnewuser.html" >
							<Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
						</a>
						<a href="usermanagement.html">
							<Menu-item name="4-3" v-if=' flag==2 '>用户管理</Menu-item>
						</a>
						<a href="charactermanagement.html">
							<Menu-item name="4-4" v-if=' flag==2 '>角色管理</Menu-item>
						</a>
						<a href="systemmonitoring.html">
							<Menu-item name="4-5">系统监控</Menu-item>
						</a>
					</Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==1 '><script>document.write(sessionStorage.area)</script>市管理员用户</Breadcrumb-item>
						<Breadcrumb-item>数据管理</Breadcrumb-item>
						<Breadcrumb-item>数据处理</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
						<i-form ref="formInline" :model="formInline" :rules="ruleInline" inline>
							<Form-Item>
								<i-select v-model="formInline.select" placeholder="查询条件" clearable style="width:200px">
									<i-option value="name">企业名称</i-option>
									<i-option value="user_name">登陆账号</i-option>
									<i-option value="user_is_admin">用户类型</i-option>
									<i-option value="area">所属地区</i-option>
									<i-option value="status">数据状态</i-option>
									<i-option value="enterprise_kind">企业性质</i-option>
									<i-option value="belong_to">所属行业</i-option>
									<i-option value="start_at">起始日期</i-option>
									<i-option value="end_at">结束日期</i-option>
									<i-option value="month">统计月份</i-option>
									<i-option value="season">统计季度</i-option>
								</i-select>
							</Form-Item>
							<!-- “企业名称”和“登陆账号” 显示输入框-->
							<Form-Item prop="condition" v-if="formInline.select!='' && (formInline.select=='name' ||formInline.select=='user_name' ) ">
								<i-input type="text"  v-model="formInline.condition" placeholder="查询条件" clearable style="width: 300px">
								</i-input>
								<i-button type="primary" @click="postCondition()">查询</i-button>
							</Form-Item>
							<!-- “用户类型” 显示单个多选框-->
							<Form-Item v-if="formInline.select!='' && formInline.select=='user_is_admin' ">
								<i-select v-model="formInline.condition" placeholder="查询条件" clearable style="width:300px">
									<i-option value="0">企业用户</i-option>
									<i-option value="1">市级管理员</i-option>
									<i-option value="2">省级管理员</i-option>
								</i-select>
								<i-button type="primary" @click="postCondition()">查询</i-button>
							</Form-Item>
							<!-- “所属地区” 显示两级选择框-->
							<Form-Item v-if="formInline.select!='' && formInline.select=='area' ">
								<Cascader :data="area" v-model="formInline.area" placeholder="市/区" clearable style="width: 300px">
								</Cascader>
								<i-button type="primary" @click="postArea()">查询</i-button>
							</Form-Item>
							<!-- “数据状态” 显示单个多选框-->
							<Form-Item v-if="formInline.select=='status' ">
								<i-select v-model="formInline.condition" placeholder="查询条件" clearable style="width:300px">
									<i-option value="0">保存未上报</i-option>
									<i-option value="1">上报未审核</i-option>
									<i-option value="2">通过审核</i-option>
									<i-option value="3">通过不审核</i-option>
								</i-select>
								<i-button type="primary" @click="postCondition()">查询</i-button>
							</Form-Item>
							<!-- “企业性质” 显示单个多选框-->
							<Form-Item v-if="formInline.select=='enterprise_kind' ">
								<i-select v-model="formInline.enterprise_kind" placeholder="企业经济类型" clearable style="width:300px">
									<i-option v-for="item in enterprisetype2" :value="item.value" :key="item.value">{{ item.label }}</i-option>
								</i-select>
								<i-button type="primary" @click="postData()">查询</i-button>
							</Form-Item>
							<!-- “所属行业” 显示两级选择框-->
							<Form-Item v-if="formInline.select=='belong_to' ">
								<Cascader :data="belong_to" v-model="formInline.belong_to" placeholder="所属行业" clearable style="width: 300px">
								</Cascader>
								<i-button type="primary" @click="postBelongto()">查询</i-button>
							</Form-Item>
							<!-- “起始日期”、“结束日期” 显示日期选择框-->
							<Form-Item v-if="formInline.select=='start_at' ||formInline.select=='end_at'">
								<Date-Picker v-model="formInline.time" type="date" split-panels format="yyyy-MM-dd" placeholder="请选择日期" style="width: 250px"></Date-Picker>                   
								<i-button type="primary" @click="postTime()">查询</i-button>
							</Form-Item>
							<!-- “统计月份”、“统计季度” 显示日期选择框-->
							<Form-Item v-if="formInline.select=='month' ||formInline.select=='season'">
								<Date-Picker v-model="formInline.time" type="date" split-panels format="yyyy-MM-dd" placeholder="请选择日期" style="width: 250px"></Date-Picker>                   
								<i-button type="primary" @click="postMonth()">查询</i-button>
							</Form-Item>
						</i-form>
                        <i-table border :columns="columns1" :data="data1" height="700px" ref="table"></i-table>
						<i-button type="primary" size="large" @click="exportData()"><icon type="ios-download-outline"></icon> 导出表格</i-button>
                    </div>
					<Modal title="数据修改" width="550" v-model="modal.show" @on-ok="changeData()">
                        <i-form ref="modal" :model="modal" label-position="left" :label-width="125":rules="ruleInline_change">
                            <Form-Item label="建档期就业人数" prop="filing">
                                <i-input type="text" v-model="modal.filing" placeholder="建档期就业人数" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="调查期就业人数" prop="check">
                                <i-input type="text" v-model="modal.check" placeholder="调查期就业人数" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="其他原因" prop="other_reason" v-if =' parseInt(modal.check )< parseInt(modal.filing) '>
                                    <i-input type="text" v-model="modal.other_reason" placeholder="其他原因" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="就业人数减少类型" prop="decrease_type" v-if =' parseInt(modal.check )< parseInt(modal.filing) '>
                                    <i-input type="text" v-model="modal.decrease_type" placeholder="就业人数减少类型" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="主要原因" prop="main_reason" v-if =' parseInt(modal.check )< parseInt(modal.filing) '>
                                    <i-input type="text" v-model="modal.main_reason" placeholder="主要原因" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="主要原因说明" prop="main_reason_detail" v-if =' parseInt(modal.check )< parseInt(modal.filing) '>
                                    <i-input type="text" v-model="modal.main_reason_detail" placeholder="主要原因说明" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="次要原因" v-if ="(parseInt(modal.check )< parseInt(modal.filing))&&modal.main_reason&&modal.main_reason!=''&&modal.main_reason_detail&&modal.main_reason_detail!=''">
                                    <i-input type="text" v-model="modal.second_reason" placeholder="次要原因" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="次要原因说明" v-if ="(parseInt(modal.check )< parseInt(modal.filing))&&modal.main_reason&&modal.main_reason!=''&&modal.main_reason_detail&&modal.main_reason_detail!=''">
                                    <i-input type="text" v-model="modal.second_reason_detail" placeholder="次要原因说明" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="第三原因" v-if ="(parseInt(modal.check )< parseInt(modal.filing))&&modal.main_reason&&modal.main_reason!=''&&modal.main_reason_detail&&modal.main_reason_detail!=''&&modal.second_reason&&modal.second_reason!=''&&modal.second_reason_detail&&modal.second_reason_detail!=''">
                                    <i-input type="text" v-model="modal.third_reason" placeholder="第三原因" clearable style="width: 300px"></i-input>
                            </Form-Item>
                            <Form-Item label="第三原因说明" v-if ="(parseInt(modal.check )< parseInt(modal.filing))&&modal.main_reason&&modal.main_reason!=''&&modal.main_reason_detail&&modal.main_reason_detail!=''&&modal.second_reason&&modal.second_reason!=''&&modal.second_reason_detail&&modal.second_reason_detail!=''">
                                    <i-input type="text" v-model="modal.third_reason_detail" placeholder="第三原因说明" clearable style="width: 300px"></i-input>
                            </Form-Item>		
					  
                        </i-form>
				  </Modal>
                </div>

                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
	<Back-Top></Back-Top>
  </div>

<script>
	new Vue({
        el: '#app',
        data (){
                return {
                    flag:sessionStorage.is_admin,
					temp:0,
					temp2:0,
					modal: {
                        show: false,
                        index: 0,
                        filing:'',
						check:'',
                        other_reason:'',
                        decrease_type:'',
                        main_reason:'',
                        main_reason_detail:'',
                        second_reason:'',
                        second_reason_detail:'',
                        third_reason:'',
                        third_reason_detail:'',

                    },
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
					enterprisetype2: [
						{
							value: 'type1',
							label: '国有经济'
						},{
							value: 'type2',
							label: '集体所有制经济'
						},{
							value: 'type3',
							label: '私营经济'
						},{
							value: 'type4',
							label: '联营经济'
						},{
							value: 'type5',
							label: '股份制经济'
						},
						{
							value: 'type6',
							label: '涉外经济'
						}
					],
					belong_to: [{
        							value: 'a1',
        							label: '农、林、牧、渔业',
        							children: [
        								{
        									value: '1',
        									label: '农业'
        								},{
        									value: '2',
        									label: '林业'
        								},{
        									value: '3',
        									label: '畜牧业'
        								},{
        									value: '4',
        									label: '渔业'
        								},{
        									value: 'type5',
        									label: '农、林、牧、渔专业及辅助性活动'
        								}
        							]
        						}, {
        							value: 'a2',
        							label: '采矿业',
        							children: [
        								{
        									value: '6',
        									label: '煤炭开采和洗选业'
        								},{
        									value: '7',
        									label: '石油和天然气开采业'
        								},{
        									value: '8',
        									label: '黑色金属矿采选业'
        								},{
        									value: '9',
        									label: '有色金属矿采选业'
        								},{
        									value: '10',
        									label: '非金属矿采选业'
        								},{
        									value: '11',
        									label: '开采专业及辅助性活动'
        								},{
        									value: '12',
        									label: '其他采矿业'
        								}
        							],
        						},{
        							value: 'a3',
        							label: '制造业',
        							children: [
        								{
        									value: '13',
        									label: '农副产品加工业'
        								},{
        									value: '14',
        									label: '食品制造业'
        								},{
        									value: '15',
        									label: '酒、饮料和精制茶制造业'
        								},{
        									value: '16',
        									label: '烟草制品业'
        								},{
        									value: '17',
        									label: '纺织业'
        								},{
        									value: '18',
        									label: '纺织服装、服饰业'
        								},{
        									value: '19',
        									label: '皮革、毛衣、羽毛及其制品和制鞋业'
        								},{
        									value: '20',
        									label: '木材加工和木、竹、藤、棕、草制品业'
        								},{
        									value: '21',
        									label: '家具制造业'
        								},{
        									value: '22',
        									label: '造纸和纸制品业'
        								},{
        									value: '23',
        									label: '印刷和记录媒介复制业'
        								},{
        									value: '24',
        									label: '文教、工美、体育和娱乐用品制造业'
        								},{
        									value: '25',
        									label: '石油、煤炭及其他燃料加工业'
        								},{
        									value: '26',
        									label: '化学原料和化学制品制造业'
        								},{
        									value: '27',
        									label: '医药制造业'
        								},{
        									value: '28',
        									label: '化学纤维制造业'
        								},{
        									value: '29',
        									label: '橡胶和塑料制品业'
        								},{
        									value: '30',
        									label: '非金属矿物制品业'
        								},{
        									value: '31',
        									label: '黑色金属冶炼和压延加工业'
        								},{
        									value: '32',
        									label: '有色金属冶炼和压延加工业'
        								},{
        									value: '33',
        									label: '金属制品业'
        								},{
        									value: '34',
        									label: '通用设备制造业'
        								},{
        									value: '35',
        									label: '专用设备制造业'
        								},{
        									value: '36',
        									label: '汽车制造业'
        								},{
        									value: '37',
        									label: '铁路、船舶、航空航天和其他运输设备制造业'
        								},{
        									value: '38',
        									label: '电气机械和器材制造业'
        								},{
        									value: '39',
        									label: '计算机、通信和其他电子设备制造业'
        								},{
        									value: '40',
        									label: '仪器仪表制造业'
        								},{
        									value: '41',
        									label: '其他制造业'
        								},{
        									value: '42',
        									label: '废弃资源综合利用业'
        								},{
        									value: '43',
        									label: '金属制品、机械和设备修理业'
        								}
        							]
        						}, {
        							value: 'a4',
        							label: '电力、热力、燃气及水生产和供应业',
        							children: [
        								{
        									value: '44',
        									label: '电力、热力生产和供应业'
        								},{
        									value: '45',
        									label: '燃气生产和供应业'
        								},{
        									value: '46',
        									label: '水的生产和供应业'
        								}
        							],
        						}, {
        							value: 'a5',
        							label: '建筑业',
        							children: [
        								{
        									value: '47',
        									label: '房屋建筑业'
        								},{
        									value: '48',
        									label: '土木工程建筑业'
        								},{
        									value: '49',
        									label: '建筑安装业'
        								},{
        									value: '50',
        									label: '建筑装饰、装修和其他建筑业'
        								}
        							],
        						}, {
        							value: 'a6',
        							label: '批发和零售业',
        							children: [
        								{
        									value: '51',
        									label: '批发业'
        								},{
        									value: '52',
        									label: '零售业'
        								}
        							],
        						}, {
        							value: 'a7',
        							label: '交通运输、仓储和邮政业',
        							children: [
        								{
        									value: '53',
        									label: '铁路运输业'
        								},{
        									value: '54',
        									label: '道路运输业'
        								},{
        									value: '55',
        									label: '水上运输业'
        								},{
        									value: '56',
        									label: '航空运输业'
        								},{
        									value: '57',
        									label: '管道运输业'
        								},{
        									value: '58',
        									label: '多式联运和运输代理业'
        								},{
        									value: '59',
        									label: '装卸搬运和仓储业'
        								},{
        									value: '60',
        									label: '邮政业'
        								}
        							],
        						}, {
        							value: 'a8',
        							label: '住宿和餐饮业',
        							children: [
        								{
        									value: '61',
        									label: '住宿业'
        								},{
        									value: '62',
        									label: '餐饮业'
        								}
        							],
        						}, {
        							value: 'a9',
        							label: '信息传输、软件和信息技术服务业',
        							children: [
        								{
        									value: '63',
        									label: '电信、广播电视和卫星传输服务'
        								},{
        									value: '64',
        									label: '互联网和相关服务'
        								},{
        									value: '65',
        									label: '软件和信息技术服务业'
        								}
        							],
        						}, {
        							value: 'a10',
        							label: '金融业',
        							children: [
        								{
        									value: '66',
        									label: '货币金融服务'
        								},{
        									value: '67',
        									label: '资本市场服务'
        								},{
        									value: '68',
        									label: '保险业'
        								},{
        									value: '69',
        									label: '其他金融业'
        								}
        							],
        						}, {
        							value: 'a11',
        							label: '房地产业',
        							children: [
        								{
        									value: '70',
        									label: '房地产业'
        								}
        							],
        						}, {
        							value: 'a12',
        							label: '租赁和商务服务业',
        							children: [
        								{
        									value: '71',
        									label: '租赁业'
        								},{
        									value: '72',
        									label: '商务服务业'
        								}
        							],
        						}, {
        							value: 'a13',
        							label: '科学研究和技术服务业',
        							children: [
        								{
        									value: '73',
        									label: '研究和试验发展'
        								},{
        									value: '74',
        									label: '专业技术服务业'
        								},{
        									value: '75',
        									label: '科技推广和应用服务业'
        								}
        							],
        						}, {
        							value: 'a14',
        							label: '水利、环境和公共设施管理业',
        							children: [
        								{
        									value: '76',
        									label: '水利管理业'
        								},{
        									value: '77',
        									label: '生态保护和环境治理业'
        								},{
        									value: '78',
        									label: '公共设施管理业'
        								},{
        									value: '79',
        									label: '土地管理业'
        								}
        							],
        						}, {
        							value: 'a15',
        							label: '居民服务、修理和其他服务业',
        							children: [
        								{
        									value: '80',
        									label: '居民服务业'
        								},{
        									value: '81',
        									label: '机动车、电子产品和日用产品修理业'
        								},{
        									value: '82',
        									label: '其他服务业'
        								}
        							],
        						}, {
        							value: 'a16',
        							label: '教育',
        							children: [
        								{
        									value: '83',
        									label: '教育'
        								}
        							],
        						}, {
        							value: 'a17',
        							label: '卫生和社会工作',
        							children: [
        								{
        									value: '84',
        									label: '卫生'
        								},{
        									value: '85',
        									label: '社会工作'
        								}
        							]
        						}, {
        							value: 'a18',
        							label: '文化、体育和娱乐业',
        							children: [
        								{
        									value: '86',
        									label: '新闻和出版业'
        								},{
        									value: '87',
        									label: '广播、电视、电影和录音制作业'
        								},{
        									value: '88',
        									label: '文化艺术业'
        								},{
        									value: '89',
        									label: '体育'
        								},{
        									value: '90',
        									label: '娱乐业'
        								}
        							]
        						}, {
        							value: 'a19',
        							label: '公共管理、社会保障和社会组织',
        							children: [
        								{
        									value: '91',
        									label: '中国共产党机关'
        								},{
        									value: '92',
        									label: '国家机构'
        								},{
        									value: '93',
        									label: '人民政协、民主党派'
        								},{
        									value: '94',
        									label: '社会保障'
        								},{
        									value: '95',
        									label: '群众团体、社会团体和其他成员组织'
        								},{
        									value: '96',
        									label: '基层群众自治组织及其他组织'
        								}
        							]
        						}, {
        							value: 'a20',
        							label: '国际组织',
        							children: [
        								{
        									value: '97',
        									label: '国际组织'
        								}
        							]
        						}],
                    area: [{
        							value: '0531',
        							label: '济南',
        							children: [
        								{
        									value: '1',
        									label: '历下区'
        								},{
        									value: '2',
        									label: '市中区'
        								},{
        									value: '3',
        									label: '槐荫区'
        								},{
        									value: '4',
        									label: '天桥区'
        								},{
        									value: '5',
        									label: '历城区'
        								},{
        									value: '6',
        									label: '长清区'
        								},{
        									value: '7',
        									label: '章丘区'
        								},{
        									value: '8',
        									label: '平阴县'
        								},{
        									value: '9',
        									label: '济阳县'
        								},{
        									value: '10',
        									label: '商河县'
        								}
        							]
        						}, {
        							value: '0532',
        							label: '青岛',
        							children: [
        								{
        									value: '11',
        									label: '市南区'
        								},{
        									value: '12',
        									label: '市北区'
        								},{
        									value: '13',
        									label: '黄岛区'
        								},{
        									value: '14',
        									label: '崂山区'
        								},{
        									value: '15',
        									label: '李沧区'
        								},{
        									value: '16',
        									label: '城阳区'
        								},{
        									value: '17',
        									label: '胶州市'
        								},{
        									value: '18',
        									label: '即墨市'
        								},{
        									value: '19',
        									label: '平度市'
        								},{
        									value: '20',
        									label: '莱西市'
        								}
        							],
        						}, {
        							value: '0533',
        							label: '淄博',
        							children: [
        								{
        									value: '21',
        									label: '淄川区'
        								},{
        									value: '22',
        									label: '张店区'
        								},{
        									value: '23',
        									label: '博山区'
        								},{
        									value: '24',
        									label: '临淄区'
        								},{
        									value: '25',
        									label: '周村区'
        								},{
        									value: '26',
        									label: '桓台县'
        								},{
        									value: '27',
        									label: '高青县'
        								},{
        									value: '28',
        									label: '沂源县'
        								}
        							],
        						}, {
        							value: '0632',
        							label: '枣庄',
        							children: [
        								{
        									value: '29',
        									label: '市中区'
        								},{
        									value: '30',
        									label: '薛城区'
        								},{
        									value: '31',
        									label: '峄城区'
        								},{
        									value: '32',
        									label: '台儿庄区'
        								},{
        									value: '33',
        									label: '山亭区'
        								},{
        									value: '34',
        									label: '滕州市'
        								}
        							],
        						}, {
        							value: '0546',
        							label: '东营',
        							children: [
        								{
        									value: '35',
        									label: '东营区'
        								},{
        									value: '36',
        									label: '河口区'
        								},{
        									value: '37',
        									label: '垦利区'
        								},{
        									value: '38',
        									label: '利津县'
        								},{
        									value: '39',
        									label: '广饶县'
        								}
        							],
        						}, {
        							value: '0535',
        							label: '烟台',
        							children: [
        								{
        									value: '40',
        									label: '芝罘区'
        								},{
        									value: '41',
        									label: '福山区'
        								},{
        									value: '42',
        									label: '牟平区'
        								},{
        									value: '43',
        									label: '莱山区'
        								},{
        									value: '44',
        									label: '长岛县'
        								},{
        									value: '45',
        									label: '龙口市'
        								},{
        									value: '46',
        									label: '莱阳市'
        								},{
        									value: '47',
        									label: '莱州市'
        								},{
        									value: '48',
        									label: '蓬莱市'
        								},{
        									value: '49',
        									label: '招远市'
        								},{
        									value: '50',
        									label: '栖霞市'
        								},{
        									value: '51',
        									label: '海阳市'
        								}
        							],
        						}, {
        							value: '0536',
        							label: '潍坊',
        							children: [
        								{
        									value: '52',
        									label: '潍城区'
        								},{
        									value: '53',
        									label: '寒亭区'
        								},{
        									value: '54',
        									label: '坊子区'
        								},{
        									value: '55',
        									label: '奎文区'
        								},{
        									value: '56',
        									label: '临朐县'
        								},{
        									value: '57',
        									label: '昌乐县'
        								},{
        									value: '58',
        									label: '青州市'
        								},{
        									value: '59',
        									label: '诸城市'
        								},{
        									value: '60',
        									label: '寿光市'
        								},{
        									value: '61',
        									label: '安丘市'
        								},{
        									value: '62',
        									label: '高密市'
        								},{
        									value: '63',
        									label: '昌邑市'
        								}
        							],
        						}, {
        							value: '0537',
        							label: '济宁',
        							children: [
        								{
        									value: '64',
        									label: '任城区'
        								},{
        									value: '65',
        									label: '兖州区'
        								},{
        									value: '66',
        									label: '微山县'
        								},{
        									value: '67',
        									label: '鱼台县'
        								},{
        									value: '68',
        									label: '金乡县'
        								},{
        									value: '69',
        									label: '嘉祥县'
        								},{
        									value: '70',
        									label: '汶上县'
        								},{
        									value: '71',
        									label: '泗水县'
        								},{
        									value: '72',
        									label: '梁山县'
        								},{
        									value: '73',
        									label: '曲阜市'
        								},{
        									value: '74',
        									label: '邹城市'
        								}
        							],
        						}, {
        							value: '0538',
        							label: '泰安',
        							children: [
        								{
        									value: '75',
        									label: '泰山区'
        								},{
        									value: '76',
        									label: '岱岳区'
        								},{
        									value: '77',
        									label: '宁阳县'
        								},{
        									value: '78',
        									label: '东平县'
        								},{
        									value: '79',
        									label: '新泰市'
        								},{
        									value: '80',
        									label: '肥城市'
        								}
        							],
        						}, {
        							value: '0631',
        							label: '威海',
        							children: [
        								{
        									value: '81',
        									label: '环翠区'
        								},{
        									value: '82',
        									label: '文登区'
        								},{
        									value: '83',
        									label: '荣成市'
        								},{
        									value: '84',
        									label: '乳山市'
        								}
        							],
        						}, {
        							value: '0633',
        							label: '日照',
        							children: [
        								{
        									value: '85',
        									label: '东港区'
        								},{
        									value: '86',
        									label: '岚山区'
        								},{
        									value: '87',
        									label: '五莲县'
        								},{
        									value: '88',
        									label: '莒县'
        								}
        							],
        						}, {
        							value: '0634',
        							label: '莱芜',
        							children: [
        								{
        									value: '89',
        									label: '莱城区'
        								},{
        									value: '90',
        									label: '钢城区'
        								}
        							],
        						}, {
        							value: '0539',
        							label: '临沂',
        							children: [
        								{
        									value: '91',
        									label: '兰山区'
        								},{
        									value: '92',
        									label: '罗庄区'
        								},{
        									value: '93',
        									label: '河东区'
        								},{
        									value: '94',
        									label: '沂南县'
        								},{
        									value: '95',
        									label: '郯城县'
        								},{
        									value: '96',
        									label: '沂水县'
        								},{
        									value: '97',
        									label: '兰陵县'
        								},{
        									value: '98',
        									label: '费县'
        								},{
        									value: '99',
        									label: '平邑县'
        								},{
        									value: '100',
        									label: '莒南县'
        								},{
        									value: '101',
        									label: '蒙阴县'
        								},{
        									value: '102',
        									label: '临沭县'
        								}
        							],
        						}, {
        							value: '0534',
        							label: '德州',
        							children: [
        								{
        									value: '103',
        									label: '德城区'
        								},{
        									value: '104',
        									label: '陵城区'
        								},{
        									value: '105',
        									label: '宁津县'
        								},{
        									value: '106',
        									label: '庆云县'
        								},{
        									value: '107',
        									label: '临邑县'
        								},{
        									value: '108',
        									label: '齐河县'
        								},{
        									value: '109',
        									label: '平原县'
        								},{
        									value: '110',
        									label: '夏津县'
        								},{
        									value: '111',
        									label: '武城县'
        								},{
        									value: '112',
        									label: '乐陵市'
        								},{
        									value: '113',
        									label: '禹城市'
        								}
        							],
        						}, {
        							value: '0635',
        							label: '聊城',
        							children: [
        								{
        									value: '114',
        									label: '东昌府区'
        								},{
        									value: '115',
        									label: '阳谷县'
        								},{
        									value: '116',
        									label: '莘县'
        								},{
        									value: '117',
        									label: '茌平县'
        								},{
        									value: '118',
        									label: '东阿县'
        								},{
        									value: '119',
        									label: '冠县'
        								},{
        									value: '120',
        									label: '高唐县'
        								},{
        									value: '121',
        									label: '临清市'
        								}
        							],
        						}, {
        							value: '0543',
        							label: '滨州',
        							children: [
        								{
        									value: '122',
        									label: '高新技术产业开发区'
        								},{
        									value: '123',
        									label: '经济开发区'
        								},{
        									value: '124',
        									label: '滨城区'
        								},{
        									value: '125',
        									label: '沾化区'
        								},{
        									value: '126',
        									label: '惠民县'
        								},{
        									value: '127',
        									label: '阳信县'
        								},{
        									value: '128',
        									label: '无棣县'
        								},{
        									value: '129',
        									label: '博兴县'
        								},{
        									value: '130',
        									label: '邹平县'
        								}
        							],
        						}, {
        							value: '0530',
        							label: '菏泽',
        							children: [
        								{
        									value: '131',
        									label: '牡丹区'
        								},{
        									value: '132',
        									label: '定陶区'
        								},{
        									value: '133',
        									label: '曹县'
        								},{
        									value: '134',
        									label: '单县'
        								},{
        									value: '135',
        									label: '成武县'
        								},{
        									value: '136',
        									label: '巨野县'
        								},{
        									value: '137',
        									label: '郓城县'
        								},{
        									value: '138',
        									label: '鄄城县'
        								},{
        									value: '139',
        									label: '东明县'
        								}
        							],
        						}
								],
					
                    formInline: {
						select: '',
						condition: '',
						area: '',
						enterprise_scale:[],
						enterprise_kind:[],
						belong_to:'',
						time:'',
					},
                    ruleInline: {
                        condition: [
                            { required: true, message: '请输入查询条件。', trigger: 'blur' }
                        ]
                    },
                    ruleInline_change: {
						filing: [
                            { required: true, message: '请输入建档期就业人数！'}
                        ],
                        check: [
                            { required: true, message: '请输入调查期就业人数！'}
                        ],
						other_reason: [
                            { required: true, message: '请输入其他原因！'}
                        ],
						decrease_type: [
                            { required: true, message: '请输入就业人数减少类型！'}
                        ],
                        main_reason: [
                            { required: true, message: '请输入调查期就业人数！'}
                        ],
						main_reason_detail: [
                            { required: true, message: '请输入其他原因！'}
                        ]
					},
                    columns1: [
                        {
                            title: '企业名称',
                            key: 'name'
                        },
						{
                            title: '建档期就业人数',
                            key: 'filing'
                        },
                        {
                            title: '调查期就业人数',
                            key: 'check'
                        },
                        {
                            title: '其他原因',
                            key: 'other_reason'
                        },
                        {
                            title: '就业人数减少类型',
                            key: 'decrease_type'
                        },
                        {
                            title: '主要原因',
                            key: 'main_reason'
                        },
                        {
                            title: '主要原因说明',
                            key: 'main_reason_detail'
                        },
                        {
                            title: '次要原因',
                            key: 'second_reason'
                        },
                        {
                            title: '次要原因说明',
                            key: 'second_reason_detail'
                        },
                        {
                            title: '第三原因',
                            key: 'third_reason'
                        },
                        {
                            title: '第三原因说明',
                            key: 'third_reason_detail'
                        },
                        {
                            title: '操作',
                            key: 'action',
                        //    width: 110,
                            align: 'center',
                            render: (h, params) => {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
                                                this.modal.show=true;
                                                this.modal.name='',
												this.modal.filing='',
                                                this.modal.check='',
                                                this.modal.other_reason='',
                                                this.modal.decrease_type='',
												this.modal.main_reason='',
                                                this.modal.main_reason_detail='',
                                                this.modal.second_reason='',
                                                this.modal.second_reason_detail='',
                                                this.modal.third_reason='',
                                                this.modal.third_reason_detail='',
                                                this.modal.index = params.index;
                                            }
                                        }
                                    }, '修改'),

                                ]);
                            }
                        }
                    ],
                    data1: [],
                    
                }
        },
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
			exportData () {
                this.$refs.table.exportCsv({
                    filename: '数据处理'
                });
			},

            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
			
            changeData () {
                this.$refs['modal'].validate((valid) => {
                    if (valid) {
                        var name = {
                            name: this.modal.name,
							filing: this.modal.filing,
							check: this.modal.check,
                            other_reason: this.modal.other_reason,
                            decrease_type: this.decrease_type,
                            main_reason: this.main_reason,
                            main_reason_detail: this.main_reason_detail,
                            second_reason: this.second_reason,
                            second_reason_detail: this.second_reason_detail,
                            third_reason: this.third_reason,
                            third_reason_detail: this.third_reason_detail,
                        }
                        var id = this.data1[this.modal.index].id;
                        console.log(name);
                        var path = base_path + 'admin/data/' + id;
                        this.$http.post(path, name).then(response => {
                            this.$Message.success('修改成功');
                            console.log("正常");
                            console.log(this.formInline);
                        }, response => {
                            this.$Message.error('修改失败');
                            console.log("异常");
                            // error callback
                        });
                    }
                    else {
                        this.$Message.error('数据修改失败');
                    }
                })
             },
			
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            },
			formatDate:function(date) {
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let monthZero = month < 10 ? '0' : '';
                let day = date.getDate();
                let dayZero = day < 10 ? '0' : '';
                let hour=date.getHours();
                let hourZero = hour < 10 ? '0' : '';
                let minute=date.getMinutes();
                let minuteZero = minute < 10 ? '0' : '';
                let second=date.getSeconds();
                let secondZero = second < 10 ? '0' : '';
                return year + '-' + monthZero + month + '-' + dayZero + day+'T'+hourZero+hour+':'+minuteZero+minute+':'+secondZero+second+'+00:00';
        	},
			formatMonth:function(date) {
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let monthZero = month < 10 ? '0' : '';
                return year + '-' + monthZero + month;
        	},
			postCondition()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formInline.select,
							condition:this.formInline.condition,
							time:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			},
			postData()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formInline.select,
							condition:this.formInline.enterprise_kind[0],
							time:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			},
			postArea()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formInline.select,
							condition:this.formInline.area.join('/'),
							time:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			},
			postBelongto()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formInline.select,
							condition:this.formInline.belong_to.join('/'),
							time:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			},
			postTime()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formatDate(this.formInline.time),
							time:this.formatDate(this.formInline.time),
							condition:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			},
			postMonth()
			{
				this.$refs['formInline'].validate((valid) => {
                    if (valid) {
						var name={                           
							select:this.formatMonth(this.formInline.time),
							time:this.formatMonth(this.formInline.time),
							condition:''
						}
						console.log(name);
						var path=base_path+'admin/data/';
						console.log()
						this.$http.post(path,name).then(response => {
							console.log("正常");
							console.log(response.body);
							this.data1=response.body;
							console.log(this.data1);
						}, response => {
							console.log("异常");
							console.log(response.body);
						// error callback
						});
					} else {
                        this.$Message.error('查询失败！');
                    }
                })
			}
			
        }
    })
</script>
</body>
</html>