<html>
<head>
<meta charset="UTF-8">
<title>企业数据填报</title>
 <!-- import Mock -->
    <script src="http://mockjs.com/dist/mock.js"></script>
    <!-- import Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="https://unpkg.com/iview/dist/iview.min.js"></script>
<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
    }
    .layout-header{
        height: 50px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
    }
    #form{
		margin-top:100px;
		margin-left:40%;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
        <Row type="flex">
            <i-col :span="24">
                <div class="layout-header">
                    <i-button type="text">
                        <Icon type="navicon" size="32"></Icon>
                    </i-button>
					<span class="system-title">山东省人力资源市场数据采集系统</span>
                </div>
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="enterpriseuser.html">企业用户</Breadcrumb-item>
                        <Breadcrumb-item>数据填报</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle">
						<i-form id="form" ref="formInline" :model="formInline" label-position="left" :label-width="110" :rules="ruleInline" style="width: 300px" >
							<h1>数据填报</h1>
							</br>
							<Form-Item label="建档期就业人数" prop="filing">
								<i-input type="filing" v-model="formInline.filing" placeholder="填写初次建档时监测点就业人数" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="调查期就业人数" prop="check">
								<i-input type="check" v-model="formInline.check" placeholder="填写本次调查期当时的监测点就业人数 " clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="其他原因" prop="otherreason">
								<i-input type="otherreason" v-model="formInline.otherreason" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="就业人数减少类型">
								<i-input type="decreasetype" v-model="formInline.decreasetype" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="主要原因">
								<i-input type="mainreason" v-model="formInline.mainreason" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="主要原因说明">
								<i-input type="mainreasondetail" v-model="formInline.mainreasondetail" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="次要原因">
								<i-input type="secondreason" v-model="formInline.secondreason" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="次要原因说明">
								<i-input type="secondreasondetail" v-model="formInline.secondreasondetail" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="第三原因">
								<i-input type="thirdreason" v-model="formInline.thirdreason" clearable style="width: 300px">
								</i-input>
							</Form-Item>
							<Form-Item label="第三原因说明">
								<i-input type="thirdreasondetail" v-model="formInline.thirdreasondetail" clearable style="width: 300px">
								</i-input>
							</Form-Item>						
							<br>
							<Form-Item>
								<i-button type="primary" @click="handleSave('formInline')"style="width: 200px" >保存修改</i-button>
							</Form-Item>
							<Form-Item>
								<i-button type="primary" @click="handleSubmit(formInline)" style="width: 200px">确认上报</i-button>
							</Form-Item>
							<Form-Item>
								<a href="enterpriseuser.html">
									<i-button type="primary" style="width: 200px">放弃上报并返回</i-button>
								</a>
							</Form-Item>
						</i-form>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
	<Back-Top></Back-Top>
  </div>

<script>
	new Vue({
        el: '#app',
        
        data () {
                return {
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    formInline: {
                        filing: '',
                        check: '',
                        otherreason: '',
                        decreasetype: '',
                        mainreason: '',
                        mainreasondetail: '',
                        secondreason: '',
                        secondreasondetail: '',
                        thirdreason: '',
                        thirdreasondetail: ''
                    },
                    ruleInline: {
                        filing: [
                            { required: true, message: '请输入建档期就业人数！', trigger: 'blur' }
                        ],
                        check: [
                            { required: true, message: '请输入调查期就业人数！', trigger: 'blur' }
                        ],
						otherreason: [
                            { required: true, message: '请输入其他原因！', trigger: 'blur' }
                        ]
                    }
                }
            },
            
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
            handleSubmit(name) {
                console.log(name);
                this.$http.post(companyupload_path,name).then(response => {
                  this.tasks=response.body;
                  console.log(this.tasks);
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  console.log(response.status);
                  console.log(response.body);
                  // error callback
                });
              
            },

            handleSave(name) {
                console.log(name);
                this.$http.post(companyupload_path,name).then(response => {
                  this.tasks=response.body;
                  console.log(this.tasks);
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  console.log(response.status);
                  console.log(response.body);
                  // error callback
                });
            }
        }
    })
</script>
</body>
</html>