<html>
<head>
<meta charset="UTF-8">
<title>上报时限</title>
<!-- import Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.js"></script>
<!-- import stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
<!-- import iView -->
<script src="https://unpkg.com/iview/dist/iview.min.js"></script>
<!--import path-->
<script src=".\path.js"></script>

<style>
    .layout{
        *border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
	.layout-logo{
		width: 180px;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		float: left;
		position: relative;
		top: 15px;
		left: 20px;
	}
	.layout-exit{
		width: 100px;
		height: 30px;
		background: #5b6270;
		float: right;
		position: relative;
		top: 15px;
		right: 20px;
		text-align: right;
	}
	
    .layout-breadcrumb{
        padding: 10px 15px 0;
    }
    .layout-content{
        min-height: 200px;
        margin: 15px;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
    }
    .layout-content-main{
        padding: 10px;
    }
    .layout-copy{
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }
    .layout-menu-left{
        background: #464c5b;
		width: 220px;
    }
    .layout-header{
        height: 60px;
        background: #313540;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
    .layout-ceiling-main a{
        color: #9ba7b5;
    }
    .layout-hide-text .layout-text{
        display: none;
    }
    .ivu-col{
        transition: width .2s ease-in-out;
    }
	.system-title{
		letter-spacing:10px;
		font-size:28px; 
		font-family:"LiSu",隶书;
		line-height:50px;
		padding-left:230px;
		color: #fff;
    }
    #form{
		margin-top:100px;
		text-align: center;
	}
</style>
</head>

<body>
  <div id="app">
    <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
		<div class="layout-exit">
			<i-button type="primary" @click="handleExit()" style="width: 100px">退出系统</i-button>
		</div>
		<div class="layout-header">
			<div class="layout-logo"></div>
			<h1 class="system-title">山东省人力资源市场数据采集系统</h1>
		</div>

		<Row type="flex">
            <i-col :span="spanLeft" class="layout-menu-left">
                <i-menu active-name="4-1" theme="dark" width="auto" :open-names="['4']">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">企业管理</span>
                        </template>
						<a href="adminenterpriseselect.html">
							<Menu-item name="1-1">企业查询</Menu-item>
						</a>
						<a href="sampleanalysis.html">
							<Menu-item name="1-2">取样分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="2">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">数据管理</span>
                        </template>
						<a href="datamanagement.html">
							<Menu-item name="2-1">数据处理</Menu-item>
						</a>
						<a href="datasummary.html">
							<Menu-item name="2-2">数据汇总</Menu-item>
						</a>
						<a href="graph.html">
							<Menu-item name="2-3">图表分析</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="3">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">通知中心</span>
                        </template>
						<a href="notice.html">
							<Menu-item name="3-1">发布通知</Menu-item>
						</a>
						<a href="noticeviewing.html">
							<Menu-item name="3-2">浏览通知</Menu-item>
						</a>
                    </Submenu>
					<Submenu name="4">
                        <template slot="title">
                            <Icon type="ios-navigate" :size="iconSize"></Icon>
                            <span class="layout-text">系统管理</span>
                        </template>
						<a href="reportingdeadline.html">
							<Menu-item name="4-1">上报时限</Menu-item>
						</a>
						<a href="createnewuser.html" >
							<Menu-item name="4-2" v-if=' flag==2 '>创建新用户</Menu-item>
						</a>
						<a href="usermanagement.html">
							<Menu-item name="4-3">用户管理</Menu-item>
						</a>
						<a href="charactermanagement.html">
							<Menu-item name="4-4">角色管理</Menu-item>
						</a>
						<a href="systemmonitoring.html">
							<Menu-item name="4-5">系统监控</Menu-item>
						</a>
                    </Submenu>
                </i-menu>
            </i-col>
            <i-col :span="spanRight">
                <div class="layout-breadcrumb">
                    <Breadcrumb>
                        <Breadcrumb-item href="adminuser.html" v-if=' flag==2 '>省级管理员用户</Breadcrumb-item>
						<Breadcrumb-item href="adminuser.html" v-if=' flag==1 '>市级管理员用户</Breadcrumb-item>
						<Breadcrumb-item>系统管理</Breadcrumb-item>
                        <Breadcrumb-item>上报时限</Breadcrumb-item>
                    </Breadcrumb>
                </div>
                <div class="layout-content">
                    <div class="layout-content-main" :style="contentStyle" id="form">
                        <h2>新增调查期</h2>
                        </br>                   
                        <Date-Picker v-model="date_value" type="daterange" split-panels format="yyyy-MM-dd" placement="bottom-end" placeholder="请选择日期" style="width: 250px"></Date-Picker>                   
                        <i-button type="primary" @click="addDate()" style="width: 100px">确定新增</i-button>	
                        </br>              
                        <h2>所有调查期</h2>		
                        </br>				
                        <i-table :columns="columns" :data="formInline" style="width: 700px; margin-left:35%" height="600"></i-table>
                                 
                        <Form-Item>
                            <a href="systemmanagement.html">
                                <i-button type="primary" style="width: 100px">返回</i-button>
                            </a>
                        </Form-Item>
						</i-form>
                    </div>
                </div>
                <div class="layout-copy">
                    2016-2017 &copy; 027wh
                </div>
            </i-col>
        </Row>
    </div>
    <Modal title="修改调查期" width="550" v-model="modal.show" @on-ok="changeNotice()">
        <Date-Picker v-model="modal.time_value" type="daterange" split-panels format="yyyy-MM-dd" placement="bottom-end" placeholder="请选择日期" style="width: 250px"></Date-Picker>  
    </Modal>
	<Back-Top></Back-Top>
  </div>



<script>
	new Vue({
        el: '#app',
        data () {
                return {
                    flag:sessionStorage.is_admin,
					modal: {
                        show: false,
                        index: 0,
                        time_value: []
                    },
                    spanLeft: 5,
                    spanRight: 19,
                    theme1: 'dark',
                    formInline: [],
					columns: [
						{
							title: '开始时间',
							key: 'start_time'
						},
						{
							title: '结束时间',
							key: 'end_time'
                        },
                        {
							title: '操作',
							key: 'action',
							width: 140,
							align: 'center',
							render: (h, params) => {
								return h('div', [
									h('Button', {
										props: {
											type: 'primary',
											size: 'small'
										},
										style: {
											marginRight: '5px'
										},
										on: {
											click: () => {
                                                this.modal.show=true;
                                                this.modal.time_value = [];
                                                this.modal.index = params.index;
											}
										}
									}, '修改')
								]);
							}
						}
                	],
					date_value: ['2018-01-26', '2018-04-15'],
                    date_change:[]
                }
            },
        created: function () {
			this.getDate();
		},
    	computed:{
         	iconSize:function () {
                return this.spanLeft === 5 ? 14 : 24;
            },
            contentStyle: function(){
           		var innerHeight = window.innerHeight;
           		var contentHeight = innerHeight-50-110;
            	return "min-height: "+contentHeight+"px";
            }
    	},
        methods: {
                formatDate:function(date) {
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let monthZero = month < 10 ? '0' : '';
                let day = date.getDate();
                let dayZero = day < 10 ? '0' : '';
                let hour=date.getHours();
                let hourZero = hour < 10 ? '0' : '';
                let minute=date.getMinutes();
                let minuteZero = minute < 10 ? '0' : '';
                let second=date.getSeconds();
                let secondZero = second < 10 ? '0' : '';
                return year + '-' + monthZero + month + '-' + dayZero + day+'T'+hourZero+hour+':'+minuteZero+minute+':'+secondZero+second+'+00:00';
        	},
            
            toggleClick: function() {
                if (this.spanLeft === 5) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 5;
                    this.spanRight = 19;
                }
            },
			handleExit() {
				var path=base_path+'account/logout';
                this.$http.get(path).then(response => {
                   window.location.href="../login.html";//跳转到登录页面
                  // get body data
                  //this.tasks = response.body;
                }, response => {
                  // error callback
                });
            },
            changeNotice () {				
                var name={                           
                    start_time:this.formatDate(this.modal.time_value[0]),
                    end_time:this.formatDate(this.modal.time_value[1]),
                }
                var id=this.formInline[this.modal.index].id;
                console.log('id:'+id);
                console.log(name);
                var path=base_path+'admin/notification/'+id;
                console.log()
                this.$http.post(path,name).then(response => {
                    this.$Message.success('修改成功');
                    console.log("正常");
                }, response => {
                    this.$Message.error('修改失败');
                    console.log("异常");
                    console.log(response.body);
                // error callback
                });
			},
            getDate()
            {
                console.log("执行get函数");
				var path=base_path+'admin/time/';
				this.$http.get(path).then(response => {
				  console.log(response.body);
				  this.formInline=response.body;
                  this.status=response.body.status;
                  console.log(this.status);
				  // get body data
				  //this.tasks = response.body;
				}, response => {
                    console.log(response.body);
				  // error callback
				});
            },
			
			addDate:function(){

                var path=base_path+'admin/time/';
                var date={
					start_time:this.formatDate(this.date_value[0]),
                    end_time:this.formatDate(this.date_value[1])
                    
                }
                console.log(this.date_value);
                console.log(date);
                this.$http.post(path,date).then(response => {
					this.$Message.success("新增成功");
                    console.log("正常");
                    this.tasks=response.body;
                  console.log(this.tasks);
                }, response => {
					this.$Message.error(response.body.error);
					console.log(response.body);
                    console.log("异常");
                  // error callback
                });
                /*this.$http.post(path,body).then(response => {
                    console.log("正常");
                    this.tasks=response.body;
                  console.log(this.tasks);
                  this.formInline=response.body;
                }, response => {
                    console.log("异常");
                  // error callback
                });*/
              },
        }
    })
</script>
</body>
</html>